.DS_Store
.nodemonignore
.sass-cache/
.idea/
node_modules/
public/assets/lib/
public/assets/css/client.min.css
public/app/client.min.js
build/
moves/
fileeditor
server/config/secrets.sh
phantomjsdriver.log
npm-debug.log