.view-container {
  position: relative;
}

.view-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-leave        {
  -webkit-animation:viewExit 0.5s both ease-in-out;
  -moz-animation:viewExit 0.5s both ease-in-out;
  animation:viewExit 0.5s both ease-in-out;
  z-index:99;
}
.view-frame.ng-enter    {  
  -webkit-animation:viewEnter 0.5s both ease-in-out;
  -moz-animation:viewEnter 0.5s both ease-in-out;
  animation:viewEnter 0.5s both ease-in-out;
  z-index: 100;
}

.view-frame.ng-leave .back-button {
  opacity: 0;
}

@keyframes viewExit {
  to    { transform: translateX(100%); opacity: 0; }
}
@-moz-keyframes viewExit {  
  to    { -moz-transform: translateX(100%); opacity: 0; }
}
@-webkit-keyframes viewExit {
  to    { -webkit-transform: translateX(100%); opacity: 0; }
}

@keyframes viewEnter {
  from  { transform:translateX(-100%); opacity: 0; }
  to    { transform: translateX(0); opacity: 1; }
}
@-moz-keyframes viewEnter {
  from  { -moz-transform:translateX(-100%); opacity: 0; }
  to    { -moz-transform: translateX(0); opacity: 1; }
}
@-webkit-keyframes viewEnter {
  from  { -webkit-transform:translateX(-100%); opacity: 0; }
  to    { -webkit-transform: translateX(0); opacity: 1; }
}

.play-move.ng-hide-add {
  -webkit-animation:fade-out 0.5s both ease-in-out;
  -moz-animation:fade-out 0.5s both ease-in-out;
  animation:fade-out 0.5s both ease-in-out;
}
.play-move.ng-hide-remove {  
  -webkit-animation:fade-in 0.5s both ease-in-out;
  -moz-animation:fade-in 0.5s both ease-in-out;
  animation:fade-in 0.5s both ease-in-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@mixin standard-ease($ease) {
  -webkit-transition: $ease ease-in-out;
  -moz-transition: $ease ease-in-out;
  -o-transition: $ease ease-in-out;
  transition: $ease ease-in-out; 
}

.thumbnail:hover,
.thumbnail:focus {
  @include standard-ease(0.2s);
  opacity: 1;
}

.back-button:hover,
.back-button:focus,
.back-button:active {
  @include standard-ease(0.2s);
  opacity: 1;
}

.login-twitter:hover,
.login-twitter:focus,
.login-twitter:active {
  @include standard-ease(0.2s);
  background-color: #3ea1ec;
}

.login-facebook:hover,
.login-facebook:focus,
.login-facebook:active {
  @include standard-ease(0.2s);
  background-color: #344e86;
}