@import 'common-mixins';

* {
    font-family:'Droid Sans', sans-serif;
}

/* Links */
a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* Custom default button */
.btn-default {
  text-shadow: none; /* Prevent inheritence from `body` */
  border: 1px solid #111;
  background-color: transparent; 
  color: #c12b32;
}

.btn-default:hover {
  text-shadow: none; /* Prevent inheritence from `body` */
  color: white;
  background-color: #c12b32;
  border: 1px solid #111;
}

html {
  background-color: $primary-background-color;
}

/*
 * Base structure
 */
html,
body {
  min-height:100%;
  height: 100%;
}

body {
  background-color: transparent;
  overflow-x:hidden;
  margin:0;
  padding:0;

  color: #111;
  text-align: center;
}

.footer-wrapper {
  position: relative;
  min-height: 100%;
}

$footer-height: 30px;
$footer-border-height: 4px;
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: $footer-height+$footer-border-height;
  background-color: #111;
  border-top: $footer-border-height solid #c12b32;

  .text-muted {
    margin: 5px 0 0 5px;
    color: #fff;
  }
}


/* Padding for spacing */
.inner {
  padding: 30px;
}

span.large-glyphicon {
  font-size: 5.0em
}

.sticky-item {
  margin-left: 18px;
  margin-right: 10px;
}

.back-button {
 font-size: 4.0em !important;
 padding-top: 40px;
 float: left;

  .glyphicon {
    opacity: 0.5;
  }
}

.ui-slider {
  background: #777;
}

.debug {
  margin-top: 20px;

  .btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    outline:none;
    border-bottom: none;
  }

  .debug-inner {
    font-size: 0.8em;
    padding: 0;
    text-align: left;
    border-top-left-radius: 0;
    background-color: #fff;
  }
}

$slider-height: 7px;
slider, [slider] {
  display: inline-block;
  position: relative;
  height: $slider-height;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;

  span {
    white-space: nowrap;
    position: absolute;

    &.bar {
      width: 100%;
      height: 100%;
      border-radius: $slider-height;
      background: #444;
      overflow: hidden;

      .selection {
        width: 0;
        height: 100%;
        background: #13b6ff;
      }
    }

    &.pointer {
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -8px;
      background-color: #fff;
      border: 1px solid #000;
      z-index: 2;
      border-radius: 100%;

      &:after {
        content: '';
        background-color: #777;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 6px;
        left: 6px;
        border-radius: 100%;

        &:hover {
          background-color: #000;
        }
      }

      &.active:after {
        background-color: #f00;
      }
    }

    &.bubble {
      display: none !important;
    }
  }
}