.move-name {
  font-weight: bold;
  font-size: 10vw;
  letter-spacing: 2px;
}

.flow-start-button {
  font-size: 18.0em !important;
  padding-top: 40px;
}

.flow-start-button:hover {
  color: #fff;
  text-shadow: 0 0 4px #999;
  cursor: pointer;
  text-decoration: none;
}