@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\000031}}
.view-container {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\000035}}
.view-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\0000312}}
.view-frame.ng-leave {
  -webkit-animation: viewExit 0.5s both ease-in-out;
  -moz-animation: viewExit 0.5s both ease-in-out;
  animation: viewExit 0.5s both ease-in-out;
  z-index: 99;
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\0000318}}
.view-frame.ng-enter {
  -webkit-animation: viewEnter 0.5s both ease-in-out;
  -moz-animation: viewEnter 0.5s both ease-in-out;
  animation: viewEnter 0.5s both ease-in-out;
  z-index: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\0000325}}
.view-frame.ng-leave .back-button {
  opacity: 0;
}

@keyframes viewExit {
  /* line 30, ../sass/animations.scss */
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@-moz-keyframes viewExit {
  /* line 33, ../sass/animations.scss */
  to {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes viewExit {
  /* line 36, ../sass/animations.scss */
  to {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes viewEnter {
  /* line 40, ../sass/animations.scss */
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  /* line 41, ../sass/animations.scss */
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes viewEnter {
  /* line 44, ../sass/animations.scss */
  from {
    -moz-transform: translateX(-100%);
    opacity: 0;
  }

  /* line 45, ../sass/animations.scss */
  to {
    -moz-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes viewEnter {
  /* line 48, ../sass/animations.scss */
  from {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }

  /* line 49, ../sass/animations.scss */
  to {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\0000352}}
.play-move.ng-hide-add {
  -webkit-animation: fade-out 0.5s both ease-in-out;
  -moz-animation: fade-out 0.5s both ease-in-out;
  animation: fade-out 0.5s both ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\0000357}}
.play-move.ng-hide-remove {
  -webkit-animation: fade-in 0.5s both ease-in-out;
  -moz-animation: fade-in 0.5s both ease-in-out;
  animation: fade-in 0.5s both ease-in-out;
}

@keyframes fade-in {
  /* line 64, ../sass/animations.scss */
  from {
    opacity: 0;
  }

  /* line 65, ../sass/animations.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  /* line 68, ../sass/animations.scss */
  from {
    opacity: 0;
  }

  /* line 69, ../sass/animations.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  /* line 72, ../sass/animations.scss */
  from {
    opacity: 0;
  }

  /* line 73, ../sass/animations.scss */
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  /* line 77, ../sass/animations.scss */
  from {
    opacity: 1;
  }

  /* line 78, ../sass/animations.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  /* line 81, ../sass/animations.scss */
  from {
    opacity: 1;
  }

  /* line 82, ../sass/animations.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  /* line 85, ../sass/animations.scss */
  from {
    opacity: 1;
  }

  /* line 86, ../sass/animations.scss */
  to {
    opacity: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\0000390}}
.thumbnail:hover,
.back-button:focus {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/f\:\/web\/acromaster\/public\/sass\/animations\.scss}line{font-family:\00003101}}
.back-button:hover,
.back-button:focus,
.back-button:active {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 1;
}
