/* line 3, ../sass/common.scss */
* {
  font-family: 'Droid Sans', sans-serif;
}

/* Links */
/* line 8, ../sass/common.scss */
a {
  color: #337ab7;
  text-decoration: none;
}

/* line 13, ../sass/common.scss */
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* Custom default button */
/* line 20, ../sass/common.scss */
.btn-default {
  text-shadow: none;
  /* Prevent inheritence from `body` */
  border: 1px solid #111;
  background-color: transparent;
  color: #c12b32;
}

/* line 27, ../sass/common.scss */
.btn-default:hover {
  text-shadow: none;
  /* Prevent inheritence from `body` */
  color: white;
  background-color: #c12b32;
  border: 1px solid #111;
}

/* line 34, ../sass/common.scss */
html {
  background-color: #f8f8f8;
}

/*
 * Base structure
 */
/* line 41, ../sass/common.scss */
html,
body {
  min-height: 100%;
  height: 100%;
}

/* line 47, ../sass/common.scss */
body {
  background-color: transparent;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #111;
  text-align: center;
}

/* line 57, ../sass/common.scss */
.footer-wrapper {
  position: relative;
  min-height: 100%;
}

/* line 64, ../sass/common.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34px;
  background-color: #111;
  border-top: 4px solid #c12b32;
}
/* line 73, ../sass/common.scss */
.footer .text-muted {
  margin: 5px 0 0 5px;
  color: #fff;
}

/* Padding for spacing */
/* line 81, ../sass/common.scss */
.inner {
  padding: 30px;
}

/* line 85, ../sass/common.scss */
span.large-glyphicon {
  font-size: 5em;
}

/* line 89, ../sass/common.scss */
.sticky-item {
  margin-left: 18px;
  margin-right: 10px;
}

/* line 94, ../sass/common.scss */
.back-button {
  font-size: 4.0em !important;
  padding-top: 40px;
  float: left;
  opacity: 0.5;
}

/* line 101, ../sass/common.scss */
.ui-slider {
  background: #777;
}

/* line 105, ../sass/common.scss */
.debug {
  margin-top: 20px;
}
/* line 108, ../sass/common.scss */
.debug .btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  outline: none;
  border-bottom: none;
}
/* line 119, ../sass/common.scss */
.debug .debug-inner {
  font-size: 0.8em;
  padding: 0;
  text-align: left;
  border-top-left-radius: 0;
  background-color: #fff;
}

/* line 129, ../sass/common.scss */
slider, [slider] {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
/* line 137, ../sass/common.scss */
slider span, [slider] span {
  white-space: nowrap;
  position: absolute;
}
/* line 141, ../sass/common.scss */
slider span.bar, [slider] span.bar {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #444;
  overflow: hidden;
}
/* line 148, ../sass/common.scss */
slider span.bar .selection, [slider] span.bar .selection {
  width: 0;
  height: 100%;
  background: #13b6ff;
}
/* line 155, ../sass/common.scss */
slider span.pointer, [slider] span.pointer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -8px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  border-radius: 100%;
}
/* line 165, ../sass/common.scss */
slider span.pointer:after, [slider] span.pointer:after {
  content: '';
  background-color: #777;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
}
/* line 175, ../sass/common.scss */
slider span.pointer:after:hover, [slider] span.pointer:after:hover {
  background-color: #000;
}
/* line 180, ../sass/common.scss */
slider span.pointer.active:after, [slider] span.pointer.active:after {
  background-color: #f00;
}
/* line 185, ../sass/common.scss */
slider span.bubble, [slider] span.bubble {
  display: none !important;
}
