/* line 1, ../sass/navbar.scss */
.navbar-nav > li {
  display: inline-block;
}

/* line 5, ../sass/navbar.scss */
.navbar-nav > li + li {
  margin-left: 20px;
}

/* line 9, ../sass/navbar.scss */
.navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-top: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 3px;
}

/* line 20, ../sass/navbar.scss */
.navbar-nav > li > a:hover {
  border-top-color: #fcb426;
  -webkit-transition: border-top-color 0.15s ease;
  -moz-transition: border-top-color 0.15s ease;
  -o-transition: border-top-color 0.15s ease;
  transition: border-top-color 0.15s ease;
}

/* line 28, ../sass/navbar.scss */
.nav .avatar {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
}

/* line 36, ../sass/navbar.scss */
.navbar {
  background-color: #f5f5f5;
  border-color: transparent;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0px;
  min-height: 30px;
  margin-bottom: 50px;
}
