doctype html
html(lang='en', ng-app='acromaster')
  include includes/head
  body
    div.footer-wrapper
        div(role='navigator', ng-include="'app/navbar/navbar.html'" ng-controller="NavbarController as nav").navbar.navbar-inverse
        div.container.inner
            div.view-container
                section(data-ng-view).view-frame
        footer(ng-controller="FooterController as footer").footer
            div.container
                div.row
                    div.col-sm-8
                        p.text-muted
                            | Created with love by <a href="http://www.jemonjam.com">Jacob Meacham</a> and Jessica Goodburn
                    div.col-sm-4
                        div.text-muted.footer-links
                            | <a ng-click="footer.about()">About</a> Contact Donate
    script(type='text/javascript').
        window.user = !{JSON.stringify(user).replace(/<\//g, "<\\/")};
        window.env = "!{env}";
    include includes/foot