doctype html
html(lang='en', ng-app='acromaster')
  include includes/head
  body

    div(role='navigator').navbar.navbar-inverse
        div.container.inner
            div.navbar-header
                button(type='button', data-target='.navbar-collapse', data-toggle='collapse').navbar-toggle
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                div.navbar-brand acromaster
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='/') Home
                    li
                        a(href='/about') About
    div.container.inner
        div.view-container
            section(data-ng-view).view-frame
    include includes/foot