doctype html
html(lang='en', ng-app='acromaster')
  include includes/head
  body
    div.footer-wrapper
        div(role='navigator', ng-include="'app/navbar/navbar.html'" ng-controller="NavbarController as nav").navbar.navbar-inverse
        div(ng-controller="ContainerController as ctrl" ng-class="{container: !ctrl.container.fluid, 'container-fluid': ctrl.container.fluid }").inner
            div.view-container
                section(data-ng-view).view-frame
        footer(ng-controller="FooterController as footer").footer
            div.container
                div.row
                    div.col-sm-4.col-sm-push-8
                        div.text-muted.footer-links
                            | <a ng-click="footer.about()">About</a> <a href="mailto:feedback@acromaster.org">Contact</a> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=NH262VUVKWE6Y&lc=US&item_name=Acromaster&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest">Donate</a>
                    div.col-sm-8.col-sm-pull-4.by-line
                        p.text-muted
                            | Created with love by <a target="_blank" href="http://www.jemonjam.com">Jacob Meacham</a> and Jessica Goodburn
    script(type='text/javascript').
        window.user = !{JSON.stringify(user).replace(/<\//g, "<\\/")};
        window.env = "!{env}";
    include includes/foot