<div class="flow-player">
    <span class="glyphicon glyphicon-play-circle large-glyphicon flow-start-button flow-player-button" ng-hide="player.hasStarted" ng-click="player.start()"></span>
    <div>
        <div class="play-move" ng-repeat="entry in player.flow.moves" ng-show="entry.visible">
            <div class="move-name">{{entry.move.name}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-sm-offset-6">
            <span class="glyphicon glyphicon-pause flow-player-button" ng-show="player.hasStarted && !player.paused" ng-click="player.pause()"></span>
            <span class="glyphicon glyphicon-play flow-player-button" ng-show="player.hasStarted && player.paused" ng-click="player.play()"></span>
        </div>
        <div class="col-sm-3">
            <div class="speed-slider" ng-show="player.hasStarted">
                <slider floor="0.25" ceiling="4" precision="2" ng-change="player.updateDuration()" ng-model="player.speedMultiplier"></slider>
                <div class="speed-slider-label">Speed - x{{player.speedMultiplier}}</div>
            </div>
        </div>
    </div>
</div>