<div>
    <span class="glyphicon glyphicon-play-circle large-glyphicon flow-start-button flow-player-button" ng-hide="player.hasStarted" ng-click="player.start()"></span>
    <div>
        <div class="play-move" ng-repeat="entry in player.flow.moves" ng-show="entry.visible">
            <div class="move-name">{{entry.move.name}}</div>
        </div>
    </div>
    <span class="glyphicon glyphicon-pause flow-player-button" ng-show="player.hasStarted && !player.paused" ng-click="player.pause()"></span>
    <span class="glyphicon glyphicon-play flow-player-button" ng-show="player.hasStarted && player.paused" ng-click="player.play()"></span>
    <slider floor="0.25" ceiling="4" precision="2" ng-change="player.updateDuration()" ng-model="player.speedMultiplier"></slider>
</div>