<div class="flow-player">
    <span class="glyphicon glyphicon-play-circle large-glyphicon flow-start-button flow-player-button" ng-hide="player.hasStarted" ng-click="player.start()"></span>
    <div>
        <div class="play-move" ng-repeat="entry in player.flow.moves" ng-show="entry.visible">
            <div class="move-name">{{entry.move.name}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="volume-slider" ng-show="player.hasStarted">
                <rzslider rz-slider-floor="0" rz-slider-ceil="100" rz-slider-model="player.volume" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true" />
                <div class="speed-slider-label">{{player.volume}}%</div>
            </div>
        </div>
        <div class="col-xs-2">
            <span class="glyphicon glyphicon-pause flow-player-button" ng-show="player.hasStarted && !player.paused" ng-click="player.pause()"></span>
            <span class="glyphicon glyphicon-play flow-player-button" ng-show="player.hasStarted && player.paused" ng-click="player.play()"></span>
        </div>
        <div class="col-xs-5">
            <div class="speed-slider" ng-show="player.hasStarted">
                <rzslider rz-slider-floor="0.25" rz-slider-ceil="4" rz-slider-precision="2" rz-slider-step="0.25" rz-slider-model="player.speedMultiplier" rz-slider-on-change="player.updateDuration()" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true" />
                <div class="speed-slider-label">Speed - x{{player.speedMultiplier}}</div>
            </div>
        </div>
    </div>
</div>