<section class="flows">
    <section class="searchField">
        <form ng-submit="vm.search()">
          <input type="text" ng-model="vm.searchQuery">
          <input type="submit" value="Search">
        </form>
    </section>
    <h1>Featured Flows</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Flow</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='flow in vm.featuredFlows'>
                <td><flow-list-item flow='flow' /></td>
            </tr>
        </tbody>
    </table>
    <h3><a ng-href="/flow/{{vm.randomFlow.id}}">Random</a></h3>
    <h3><a href="/flow/create">Create your own</a></h3>
    <div class="col-md-12">
        <debug>{{ vm.featuredFlows | json }}</debug>
    </div>
</section>