<section class="flows row">
    <div class="col-xs-12">
        <searchbar random-flow="{{vm.randomFlow.id}}" scroll-point="+100" />
        <article>
            <h1>Featured Flows</h1>
            <div class="inner-circles-loader" ng-hide="vm.featuredFlows || vm.flash.error">
              Loading…
            </div>
            <div flash-alert="error" active-class="in alert" role="alert" duration="0" ng-show="vm.flash.error">
                <button type="button" class="close" ng-click="vm.retryPopulate()">&times;</button>
                <strong class="alert-heading">AcrOh Snap!</strong>
                <span class="alert-message">{{flash.message}}</span>
            </div>
            <table class="table flow-list">
                <tbody>
                    <tr ng-repeat='flow in vm.featuredFlows'>
                        <td><flow-list-item flow='flow' show-author='true' /></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <debug>{{ vm.featuredFlows | json }}</debug>
            </div>
        </article>
    </div>
</section>