<section>
    <h1>Great Job!</h1>
    <h3>Here's what you did</h3>
    <div class="inner row">
      <div class="col-md-4">
        <just-gage id="moves-gauge" value="numMovesOptions.value" options="numMovesOptions"></just-gage>
      </div>
      <div class="col-md-4">
        <just-gage id="time-gauge" value="totalTimeOptions.value" options="totalTimeOptions"></just-gage>
      </div>
      <div class="col-md-4">
        <just-gage id="difficulty-gauge" value="difficultyOptions.value" options="difficultyOptions"></just-gage>
      </div>
    </div>
</section>