<div>
    <span class="glyphicon glyphicon-play-circle large-glyphicon flow-start-button flow-player-button" ng-hide="vm.hasStarted" ng-click="vm.start()"></span>
    <div>
        <div class="play-move" ng-repeat="entry in vm.flow.moves" ng-show="entry.visible">
            <div class="move-name">{{entry.move.name}}</div>
        </div>
    </div>
    <span class="glyphicon glyphicon-pause flow-player-button" ng-show="vm.hasStarted && !vm.paused" ng-click="vm.pause()"></span>
    <span class="glyphicon glyphicon-play flow-player-button" ng-show="vm.hasStarted && vm.paused" ng-click="vm.play()"></span>
    <slider floor="0.25" ceiling="4" ng-model="vm.speedMultiplier"></slider>
</div>