<div class="row">
    <div class="col-md-6 recent-flows">
        <div class="list-box">
            <h2>Recent Flows</h2>
            <ul class="list-box-list">
                <li ng-if="vm.profile.recentlyPlayed.length > 0" ng-repeat="entry in vm.profile.recentlyPlayed | limitTo:5 | filter:{flow:'!'}" class="list-box-inner">
                    <a href="/flow/{{entry.flow.id}}">{{entry.flow.name}}</a>
                    <a href="/flow/{{entry.flow.id}}/play">
                        <span popover="Play Now!" popover-placement="top" popover-trigger="mouseenter" class="play-now glyphicon glyphicon-2x glyphicon-play-circle" />
                    </a>
                </li>
                <li ng-if="vm.profile.recentlyPlayed.length === 0" class="no-entry list-box-inner">None yet!</li>
            </ul>
            <ul class="list-box-list" >
                
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="list-box">
            <h2>Favorites</h2>
            <ul class="list-box-list">
                <li ng-if="vm.profile.favorites.length > 0" ng-repeat="entry in vm.profile.favorites | limitTo:5 | filter:{flow:'!'}" class="list-box-inner">
                    <a href="/flow/{{entry.flow.id}}">{{entry.flow.name}}</a>
                    <a href="/flow/{{entry.flow.id}}/play">
                        <span popover="Play Now!" popover-placement="top" popover-trigger="mouseenter" class="play-now glyphicon glyphicon-2x glyphicon-play-circle" />
                    </a>
                </li>
                <li ng-if="vm.profile.favorites.length === 0" class="list-box-inner no-entry">None yet!</li>
            </ul>
        </div>
    </div>
</div>
<div class="row stats">
    <h1 class="visible-sm visible-xs">Statistics</h1>
    <div class="col-md-4">
        <div class="box-container">
            <just-gage id="flows-gauge" value="vm.flowsPlayedOptions.value" options="vm.flowsPlayedOptions"></just-gage>
            <div class="info">{{vm.profile.stats.flowsPlayed}} flows played</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box-container">
            <just-gage id="time-gauge" value="vm.minutesPlayedOptions.value" options="vm.minutesPlayedOptions"></just-gage>
            <div class="info">{{vm.profile.stats.secondsPlayed / 60 | number:0 }} minutes played</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box-container">
            <just-gage id="moves-gauge" value="vm.movesPlayedOptions.value" options="vm.movesPlayedOptions"></just-gage>
            <div class="info">{{vm.profile.stats.moves}} moves performed</div>
        </div>
    </div>
</div>
