<!-- TODO If this is me, add a link to unfavorite -->
<table class="table flow-list">
    <tbody>
        <tr ng-if="vm.favorites.flows.length === 0" class="no-entry"><td>None yet!</td></tr>
        <tr ng-if="vm.favorites.flows.length > 0" dir-paginate='favoritedEntry in vm.favorites.flows | itemsPerPage: 7'>
            <td><flow-list-item flow='favoritedEntry.flow' show-author='true' /></td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls></dir-pagination-controls>
<div class="col-md-12">
    <debug>{{ vm.favorites | json }}</debug>
</div>