<table class="table flow-list">
    <tbody>
        <tr ng-if="vm.flows.length === 0" class="no-entry"><td>None yet!</td></tr>
        <tr ng-if="vm.flows.length > 0">
            <td>
                <input type="checkbox" ng-model="vm.includeWorkouts" />
                <label>Include Workouts</label>
            </td>
        </tr>
        <tr ng-if="vm.flows.length > 0" dir-paginate='flow in vm.flows | itemsPerPage: 7'>
            <td><flow-list-item flow='flow' show-author='false' /></td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls></dir-pagination-controls>
<div class="col-md-12">
    <debug>{{ vm.flows | json }}</debug>
</div>