<div class="row">
    <div class="col-md-4 recent-flows">
        <h2>Recent Flows</h2>
        <ul ng-repeat="entry in vm.profile.recentlyPlayed | limitTo:5 | filter:{flow:'!'}">
            <li><a href="/flow/{{entry.flow.id}}">{{entry.flow.name}}</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h2>Favorites</h2>
        <ul ng-repeat="entry in vm.profile.favorites | limitTo:5 | filter:{flow:'!'}">
            <li><a href="/flow/{{entry.flow.id}}">{{entry.flow.name}}</a></li>
        </ul>
    </div>
</div>
<div class="row stats">
    <div class="col-md-3">
        <just-gage id="flows-gauge" value="vm.flowsPlayedOptions.value" options="vm.flowsPlayedOptions"></just-gage>
        <div class="info">{{vm.profile.stats.flowsPlayed}} flows played</div>
    </div>
    <div class="col-md-3">
        <just-gage id="time-gauge" value="vm.minutesPlayedOptions.value" options="vm.minutesPlayedOptions"></just-gage>
        <div class="info">{{vm.profile.stats.minutesPlayed | number:0 }} minutes played</div>
    </div>
    <div class="col-md-3">
        <just-gage id="moves-gauge" value="vm.movesPlayedOptions.value" options="vm.movesPlayedOptions"></just-gage>
        <div class="info">{{vm.profile.stats.moves}} moves performed</div>
    </div>
</div>
