<div ng-if="vm.favorites.flows.length === 0" class="no-entry">
    <h2>This user hasn't added any favorites yet</h2>
</div>
<table ng-if="vm.favorites.flows.length > 0" class="table flow-list">
    <tbody>
        <tr dir-paginate='favoritedEntry in vm.favorites.flows | itemsPerPage: 7'>
            <td><flow-list-item flow='favoritedEntry.flow' show-author='true' /></td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls></dir-pagination-controls>
<div class="col-md-12">
    <debug>{{ vm.favorites | json }}</debug>
</div>