each val in assets.vendor.js
    script(type='text/javascript', src=val)

each val in assets.client.js
    script(type='text/javascript', src=val)

if (env === 'development')
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
