each val in assets.vendor.js
    script(type='text/javascript', src=val)

//each val in assets.client.js
//    script(type='text/javascript', src=val)
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/services.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')
script(type='text/javascript', src='/js/controllers.js')

if (env === 'development')
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
