each val in assets.vendor.js
    script(type='text/javascript', src=val)

each asset in assets.client.js
    script(type='text/javascript', src=asset)

if (env === 'development')
    script(type='text/javascript', src='http://' + hostname + ':35729/livereload.js')
