/* line 1, ../sass/animations.scss */
.view-container {
  position: relative;
}

/* line 5, ../sass/animations.scss */
.view-frame.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation: viewExit 0.5s both ease-in-out;
  -moz-animation: viewExit 0.5s both ease-in-out;
  animation: viewExit 0.5s both ease-in-out;
  z-index: 99;
}

/* line 15, ../sass/animations.scss */
.view-frame.ng-enter {
  -webkit-animation: viewEnter 0.5s both ease-in-out;
  -moz-animation: viewEnter 0.5s both ease-in-out;
  animation: viewEnter 0.5s both ease-in-out;
  z-index: 100;
}

/* line 22, ../sass/animations.scss */
.view-frame.ng-leave .back-button {
  display: none !important;
}

/* line 26, ../sass/animations.scss */
.btn.ng-hide {
  opacity: 0;
  display: none !important;
}

@keyframes viewExit {
  to {
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    transform: translateX(150%);
  }
}
@-moz-keyframes viewExit {
  to {
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    transform: translateX(150%);
  }
}
@-webkit-keyframes viewExit {
  to {
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    transform: translateX(150%);
  }
}
@keyframes viewEnter {
  from {
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes viewEnter {
  from {
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes viewEnter {
  from {
    -webkit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    transform: translateX(-150%);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
/* line 94, ../sass/animations.scss */
.play-move.ng-hide-add {
  position: absolute;
  -webkit-animation: fade-out 0.5s both ease-in-out;
  -moz-animation: fade-out 0.5s both ease-in-out;
  animation: fade-out 0.5s both ease-in-out;
}

/* line 100, ../sass/animations.scss */
.play-move.ng-hide-remove {
  -webkit-animation: fade-in 0.5s both ease-in-out;
  -moz-animation: fade-in 0.5s both ease-in-out;
  animation: fade-in 0.5s both ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 139, ../sass/animations.scss */
.thumbnail:hover,
.thumbnail:focus {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: #010101;
}

/* line 145, ../sass/animations.scss */
.back-button .glyphicon:hover,
.back-button .glyphicon:focus,
.back-button .glyphicon:active {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #0DB9F0;
}

/* line 152, ../sass/animations.scss */
.login-twitter:hover,
.login-twitter:focus,
.login-twitter:active {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #3ea1ec;
}

/* line 159, ../sass/animations.scss */
.login-facebook:hover,
.login-facebook:focus,
.login-facebook:active {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #344e86;
}

/* line 166, ../sass/animations.scss */
.alert {
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
  transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}

/* line 172, ../sass/animations.scss */
.alert.ng-hide-remove, .alert.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  -webkit-transform: translate3d(100px, 0px, 0px);
  transform: translate3d(100px, 0px, 0px);
  display: block !important;
}

/* line 178, ../sass/animations.scss */
.alert.ng-hide-add, .alert.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* line 4, ../sass/common.scss */
* {
  font-family: 'Droid Sans', sans-serif;
}

/* Links */
/* line 9, ../sass/common.scss */
a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

/* line 15, ../sass/common.scss */
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* Custom default button */
/* line 22, ../sass/common.scss */
.btn {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* line 26, ../sass/common.scss */
.btn:hover {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

/* line 30, ../sass/common.scss */
.btn-default {
  text-shadow: none;
  /* Prevent inheritence from `body` */
  color: white;
  background-color: #c12b32;
  border: 1px solid #111;
  font-weight: bold;
}

/* line 38, ../sass/common.scss */
.btn-default:hover, .btn-default:active, .btn-default:focus {
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #741a1e;
  color: white;
  border: 1px solid #111;
}

/* line 45, ../sass/common.scss */
html {
  background-color: #f9f9f9;
}

/*
 * Base structure
 */
/* line 52, ../sass/common.scss */
html,
body {
  min-height: 100%;
  height: 100%;
}

/* line 58, ../sass/common.scss */
body {
  background-color: transparent;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #111;
  text-align: center;
}

/* line 68, ../sass/common.scss */
.footer-wrapper {
  position: relative;
  min-height: 100%;
}

/* line 77, ../sass/common.scss */
.footer {
  position: absolute;
  width: 100%;
  background-color: #111;
  border-top: 4px solid #c12b32;
}
@media (min-width: 769px) {
  /* line 77, ../sass/common.scss */
  .footer {
    bottom: 0;
    height: 34px;
  }
}
@media (max-width: 768px) {
  /* line 77, ../sass/common.scss */
  .footer {
    bottom: -30px;
    height: 59px;
  }
}
/* line 94, ../sass/common.scss */
.footer .text-muted {
  margin: 5px 0 0 5px;
  color: #fff;
}
/* line 99, ../sass/common.scss */
.footer a:hover {
  color: white;
}
/* line 103, ../sass/common.scss */
.footer .footer-links > a {
  padding: 0 8px 0 9px;
  border-left: 1px solid #ddd;
}
/* line 108, ../sass/common.scss */
.footer .footer-links > a:first-of-type {
  border-left: none;
}
@media (min-width: 768px) {
  /* line 112, ../sass/common.scss */
  .footer .by-line {
    text-align: left;
  }
}
@media (max-width: 440px) {
  /* line 112, ../sass/common.scss */
  .footer .by-line {
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: -5px;
  }
}

/* line 126, ../sass/common.scss */
.no-margin {
  margin: 0;
}

/* Padding for spacing */
/* line 131, ../sass/common.scss */
.inner {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  /* line 131, ../sass/common.scss */
  .inner {
    padding-top: 30px;
  }
}

/* line 139, ../sass/common.scss */
span.large-glyphicon {
  font-size: 5em;
}

/* line 143, ../sass/common.scss */
.sticky-item {
  margin-left: 18px;
  margin-right: 10px;
}

/* line 148, ../sass/common.scss */
.back-button {
  font-size: 4.0em !important;
  padding-top: 40px;
  float: left;
  color: #00A0D7;
}

/* line 156, ../sass/common.scss */
.box-container {
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

/* line 164, ../sass/common.scss */
.ui-slider {
  background: #777;
}

/* line 168, ../sass/common.scss */
.icon-with-text {
  margin-right: 4px;
}

/* line 172, ../sass/common.scss */
hr.narrow {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 177, ../sass/common.scss */
.debug {
  margin-top: 20px;
}
/* line 180, ../sass/common.scss */
.debug .btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  outline: none;
  border-bottom: none;
}
/* line 191, ../sass/common.scss */
.debug .debug-inner {
  font-size: 0.8em;
  padding: 0;
  text-align: left;
  border-top-left-radius: 0;
  background-color: #fff;
}

/* line 200, ../sass/common.scss */
.alert {
  margin: 8px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* line 207, ../sass/common.scss */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: white;
}

/* line 211, ../sass/common.scss */
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 20px;
}

/* :not(:required) hides this rule from IE9 and below */
/* line 222, ../sass/common.scss */
.inner-circles-loader:not(:required) {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #19a598;
  background: rgba(25, 165, 152, 0.5);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  /* Hides inner circles outside base circle at safari */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/* line 242, ../sass/common.scss */
.inner-circles-loader:not(:required):before, .inner-circles-loader:not(:required):after {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* line 251, ../sass/common.scss */
.inner-circles-loader:not(:required):before {
  -moz-animation: inner-circles-loader 3s infinite;
  -webkit-animation: inner-circles-loader 3s infinite;
  animation: inner-circles-loader 3s infinite;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  left: 0;
  background: #c7efcf;
}

/* line 262, ../sass/common.scss */
.inner-circles-loader:not(:required):after {
  -moz-animation: inner-circles-loader 3s 0.2s reverse infinite;
  -webkit-animation: inner-circles-loader 3s 0.2s reverse infinite;
  animation: inner-circles-loader 3s 0.2s reverse infinite;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  right: 0;
  background: #ffe759;
}

@-moz-keyframes inner-circles-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes inner-circles-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes inner-circles-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
