@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Basic structure */
/* line 5, ../sass/common.scss */
* {
  font-family: 'Droid Sans', sans-serif;
}

/* line 9, ../sass/common.scss */
html {
  background-color: #f9f9f9;
}

/* line 13, ../sass/common.scss */
html,
body {
  min-height: 100%;
  height: 100%;
}

/* line 19, ../sass/common.scss */
body {
  background-color: transparent;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #111;
  text-align: center;
}

/* Standard padding / spacing */
/* line 30, ../sass/common.scss */
.no-margin {
  margin: 0;
}

/* line 34, ../sass/common.scss */
.inner {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  /* line 34, ../sass/common.scss */
  .inner {
    padding-top: 30px;
  }
}

/* Default links and buttons */
/* line 43, ../sass/common.scss */
a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

/* line 49, ../sass/common.scss */
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* line 55, ../sass/common.scss */
.btn {
  transition: 0.2s ease-in-out;
}

/* line 59, ../sass/common.scss */
.btn:hover {
  transition: 0.2s ease-in-out;
}

/* line 63, ../sass/common.scss */
.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
  text-shadow: none;
  /* Prevent inheritence from `body` */
  color: white;
  background-color: #c12b32;
  border: 1px solid #111;
  font-weight: bold;
}

/* line 71, ../sass/common.scss */
.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: #741a1e;
}

/* line 75, ../sass/common.scss */
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 20px;
}

/* Other useful defaults */
/* line 85, ../sass/common.scss */
span.large-glyphicon {
  font-size: 5em;
}

/* line 89, ../sass/common.scss */
.icon-with-text {
  margin-right: 4px;
}

/* line 93, ../sass/common.scss */
hr.narrow {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 98, ../sass/common.scss */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: white;
}

/* line 102, ../sass/common.scss */
.back-button {
  font-size: 4.0em !important;
  padding-top: 40px;
  float: left;
  color: #00A0D7;
}

/* line 110, ../sass/common.scss */
.back-button .glyphicon:hover,
.back-button .glyphicon:focus,
.back-button .glyphicon:active {
  transition: 0.2s ease-in-out;
  color: #0DB9F0;
}

/* line 117, ../sass/common.scss */
.debug {
  margin-top: 20px;
}
/* line 120, ../sass/common.scss */
.debug .btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  outline: none;
  border-bottom: none;
}
/* line 131, ../sass/common.scss */
.debug .debug-inner {
  font-size: 0.8em;
  padding: 0;
  text-align: left;
  border-top-left-radius: 0;
  background-color: #fff;
}

/* View animations */
/* line 141, ../sass/common.scss */
.view-container {
  position: relative;
}

/* line 145, ../sass/common.scss */
.view-frame.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  animation: 0.5s both ease-in-out;
}

/* line 155, ../sass/common.scss */
.view-frame.ng-enter {
  animation: 0.5s both ease-in-out;
  z-index: 100;
}

/* line 160, ../sass/common.scss */
.view-frame.ng-leave .back-button {
  display: none !important;
}

/* line 164, ../sass/common.scss */
.btn.ng-hide {
  opacity: 0;
  display: none !important;
}

@keyframes viewExit {
  to {
    transform: translateX(150%);
  }
}
@keyframes viewEnter {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}