@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 11, ../sass/flow-player.scss */
.flow-player .move-name {
  font-weight: bold;
  font-size: 20vmin;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
/* line 19, ../sass/flow-player.scss */
.flow-player .play-move.ng-hide-add {
  position: absolute;
  animation: fade-out 0.5s both ease-in-out;
}
/* line 23, ../sass/flow-player.scss */
.flow-player .play-move.ng-hide-remove {
  animation: fade-in 0.5s both ease-in-out;
}
/* line 27, ../sass/flow-player.scss */
.flow-player .flow-start-button {
  font-size: 18.0em !important;
  padding-top: 40px;
}
/* line 32, ../sass/flow-player.scss */
.flow-player .flow-player-button {
  transition: 0.2s ease-in-out;
  font-size: 4.0em;
  color: #222;
}
/* line 38, ../sass/flow-player.scss */
.flow-player .flow-player-button.ng-hide-add {
  display: none !important;
}
/* line 42, ../sass/flow-player.scss */
.flow-player .flow-player-button:hover {
  transition: 0.2s ease-in-out;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
/* line 50, ../sass/flow-player.scss */
.flow-player .controls-container {
  background-color: white;
  box-shadow: 0 1px 5px #eee;
  border-radius: 10px;
}
/* line 56, ../sass/flow-player.scss */
.flow-player .controls-left {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 50px;
}
@media only screen and (max-width: 788px) {
  /* line 56, ../sass/flow-player.scss */
  .flow-player .controls-left {
    padding-right: 33px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 56, ../sass/flow-player.scss */
  .flow-player .controls-left {
    margin-left: 2%;
  }
}
/* line 70, ../sass/flow-player.scss */
.flow-player .controls-right {
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 20px;
}
@media only screen and (max-width: 788px) {
  /* line 70, ../sass/flow-player.scss */
  .flow-player .controls-right {
    width: 48%;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 788px) {
  /* line 82, ../sass/flow-player.scss */
  .flow-player .rz-pointer {
    width: 20px;
    height: 20px;
    top: -8px;
  }
  /* line 88, ../sass/flow-player.scss */
  .flow-player .rz-pointer:after {
    top: 6px;
    left: 6px;
  }
}
/* line 94, ../sass/flow-player.scss */
.flow-player .controls-play {
  margin: 0 -30px;
  padding: 20px 0;
  width: 100px;
  border-radius: 100px;
  z-index: 1;
}
@media only screen and (max-width: 788px) {
  /* line 94, ../sass/flow-player.scss */
  .flow-player .controls-play {
    margin: 9px -30px;
    padding: 10px 0;
    width: 80px;
    border-radius: 80px;
  }
}
/* line 109, ../sass/flow-player.scss */
.flow-player .volume-icon {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 2em;
  color: #222;
}
@media only screen and (max-width: 788px) {
  /* line 109, ../sass/flow-player.scss */
  .flow-player .volume-icon {
    top: 23px;
    left: 4px;
    font-size: 1.5em;
  }
}
/* line 123, ../sass/flow-player.scss */
.flow-player .volume-icon:hover {
  transition: 0.2s ease-in-out;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
/* line 130, ../sass/flow-player.scss */
.flow-player .volume-slider {
  padding-bottom: 20px;
  padding-left: 30px;
}
@media only screen and (max-width: 788px) {
  /* line 130, ../sass/flow-player.scss */
  .flow-player .volume-slider {
    padding-left: 7px;
  }
}
/* line 139, ../sass/flow-player.scss */
.flow-player .speed-slider-label {
  font-weight: bold;
}