/* line 2, ../sass/flow-end.scss */
.flow-end .likes {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
/* line 10, ../sass/flow-end.scss */
.flow-end .social-actions {
  padding: 5px 0 8px 0;
  margin-bottom: 0;
}
/* line 14, ../sass/flow-end.scss */
.flow-end .social-actions li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid #aaa;
  padding-right: 5px;
}
/* line 21, ../sass/flow-end.scss */
.flow-end .social-actions li:last-child {
  border-right: none;
}
/* line 25, ../sass/flow-end.scss */
.flow-end .social-actions li:last-child {
  padding-left: 5px;
  margin-right: 0;
}
/* line 31, ../sass/flow-end.scss */
.flow-end .flow-icon {
  font-size: 3em;
}
/* line 35, ../sass/flow-end.scss */
.flow-end .inner {
  padding: 30px 0;
}
