/* line 4, ../sass/flow-search.scss */
.search-field-container {
  margin: -50px 0 15px 0;
  padding: 20px 0 5px 20px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}
@media only screen and (max-width: 768px) {
  /* line 4, ../sass/flow-search.scss */
  .search-field-container {
    margin: -20px 0 15px 0;
  }
}
/* line 15, ../sass/flow-search.scss */
.search-field-container .btn-search {
  padding: 0 7px 0 7px;
}
/* line 19, ../sass/flow-search.scss */
.search-field-container .search-form {
  padding-left: 0;
}
/* line 23, ../sass/flow-search.scss */
.search-field-container .action-buttons {
  float: right;
}
/* line 26, ../sass/flow-search.scss */
.search-field-container .action-buttons .btn-circle {
  font-size: 20px;
  border-radius: 25px;
  margin-top: -3px;
  margin-right: 2px;
}

/* line 35, ../sass/flow-search.scss */
.search-field-container.ui-scrollpoint {
  position: fixed;
  margin-top: -50px;
  top: 40px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  /* line 35, ../sass/flow-search.scss */
  .search-field-container.ui-scrollpoint {
    width: 768px;
  }
}
@media only screen and (max-width: 992px) {
  /* line 35, ../sass/flow-search.scss */
  .search-field-container.ui-scrollpoint {
    width: 992px;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 35, ../sass/flow-search.scss */
  .search-field-container.ui-scrollpoint {
    width: 1200px;
  }
}