/* line 1, ../sass/flow-editor.scss */
.flows {
  text-align: left;
}

/* line 5, ../sass/flow-editor.scss */
.move-list {
  padding-bottom: 20px;
}

/* line 9, ../sass/flow-editor.scss */
.flow-title {
  margin-bottom: 0;
}
