/* line 3, ../sass/flow-list.scss */
.flow-list {
  background-color: white;
  box-shadow: 0 1px 2px #eee;
}

/* line 8, ../sass/flow-list.scss */
.flow-list-item {
  display: flex;
  align-items: flex-start;
}
/* line 12, ../sass/flow-list.scss */
.flow-list-item ul {
  padding-left: 0;
  margin-bottom: 0;
}
/* line 17, ../sass/flow-list.scss */
.flow-list-item li {
  display: inline-block;
  list-style: none;
}
/* line 22, ../sass/flow-list.scss */
.flow-list-item li:before {
  font-size: 1.3em;
  content: '\002022';
  margin: 0 5px 0 0;
}
@media (max-width: 370px) {
  /* line 29, ../sass/flow-list.scss */
  .flow-list-item .flow-item-sub-info li:before {
    display: none;
  }
}
/* line 34, ../sass/flow-list.scss */
.flow-list-item li:first-child:before {
  display: none;
}
/* line 38, ../sass/flow-list.scss */
.flow-list-item li:last-child {
  margin-right: 0;
}
/* line 42, ../sass/flow-list.scss */
.flow-list-item .flow-item-icon {
  font-size: 3em;
  margin-right: 8px;
  color: black;
}
/* line 48, ../sass/flow-list.scss */
.flow-list-item .flow-item-left {
  margin-right: 1em;
}
@media only screen and (max-width: 492px) {
  /* line 48, ../sass/flow-list.scss */
  .flow-list-item .flow-item-left {
    margin-right: 0.6em;
  }
}
/* line 56, ../sass/flow-list.scss */
.flow-list-item .flow-item-info {
  flex: 1;
}
/* line 60, ../sass/flow-list.scss */
.flow-list-item .flow-item-sub-info {
  line-height: 19px;
  color: #767676;
}
@media only screen and (min-width: 492px) {
  /* line 65, ../sass/flow-list.scss */
  .flow-list-item .flow-social {
    float: right;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 492px) {
  /* line 65, ../sass/flow-list.scss */
  .flow-list-item .flow-social {
    line-height: 19px;
  }
}
/* line 76, ../sass/flow-list.scss */
.flow-list-item .flow-name {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 81, ../sass/flow-list.scss */
.flow-list-item .flow-length {
  margin-top: 8px;
}
/* line 85, ../sass/flow-list.scss */
.flow-list-item .flow-item-description {
  margin-top: 5px;
}
/* line 87, ../sass/flow-list.scss */
.flow-list-item .flow-item-description a {
  color: #767676;
}
