/* line 1, ../sass/flows.scss */
.slick-arrow {
  z-index: 1;
}

/* line 5, ../sass/flows.scss */
.flows {
  text-align: left;
}
/* line 8, ../sass/flows.scss */
.flows .start-flow {
  font-size: 18px;
}
/* line 12, ../sass/flows.scss */
.flows .move-list {
  padding-left: 10px;
  list-style: none;
}
/* line 17, ../sass/flows.scss */
.flows .flow-title {
  margin-bottom: 0;
}
/* line 20, ../sass/flows.scss */
.flows .flow-title .glyphicon {
  font-size: 4.5em;
  margin-right: 10px;
}
/* line 25, ../sass/flows.scss */
.flows .flow-title h1 {
  display: inline;
  position: absolute;
  top: -8px;
}
/* line 32, ../sass/flows.scss */
.flows .flow-plays {
  text-align: right;
  font-size: 1.5em;
}
/* line 37, ../sass/flows.scss */
.flows .avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 4em;
}
/* line 46, ../sass/flows.scss */
.flows .flow-author-info {
  margin-top: 10px;
  font-size: 0.9em;
}
/* line 51, ../sass/flows.scss */
.flows .flow-author {
  padding-top: 3px;
  margin-left: 8px;
  font-weight: bold;
}
/* line 57, ../sass/flows.scss */
.flows .flow-date {
  margin-left: 8px;
  color: #555;
}
/* line 62, ../sass/flows.scss */
.flows .flow-box {
  margin-top: 10px;
  margin-bottom: 15px;
  min-height: 20px;
  padding: 20px 20px 0 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
/* line 72, ../sass/flows.scss */
.flows .flow-description {
  padding-bottom: 20px;
}
/* line 76, ../sass/flows.scss */
.flows .likes {
  float: right;
  font-size: 1.5em;
  padding-right: 20px;
}
/* line 82, ../sass/flows.scss */
.flows .flow-actions {
  padding: 5px 0 8px 0;
}
/* line 85, ../sass/flows.scss */
.flows .flow-actions a {
  margin-right: 10px;
}
/* line 90, ../sass/flows.scss */
.flows .icon-with-text-remix {
  margin-right: 4px;
}
/* line 94, ../sass/flows.scss */
.flows .easy-move {
  color: green;
}
/* line 98, ../sass/flows.scss */
.flows .medium-move {
  color: orange;
}
/* line 102, ../sass/flows.scss */
.flows .hard-move {
  color: red;
}
/* line 106, ../sass/flows.scss */
.flows .move-entry {
  padding-bottom: 5px;
}
/* line 110, ../sass/flows.scss */
.flows .move-name {
  margin-right: -2px;
  font-weight: bold;
}
/* line 115, ../sass/flows.scss */
.flows .move-difficulty {
  font-size: 1.5em;
}
/* line 119, ../sass/flows.scss */
.flows .move-description-link {
  font-size: 0.8em;
}
/* line 123, ../sass/flows.scss */
.flows .separator {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 130, ../sass/flows.scss */
.flow-end .likes {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
}
/* line 135, ../sass/flows.scss */
.flow-end .social-actions {
  padding: 5px 0 8px 0;
}
/* line 138, ../sass/flows.scss */
.flow-end .social-actions a {
  margin-right: 10px;
}

/* line 144, ../sass/flows.scss */
.flow-delete-modal {
  padding: 20px;
}
/* line 147, ../sass/flows.scss */
.flow-delete-modal .flow-delete-buttons {
  margin-top: 10px;
  display: block;
}
