/* line 16, ../sass/flows-common.scss */
.flow-box {
  margin-top: 10px;
  margin-bottom: 15px;
  min-height: 20px;
  padding: 20px 20px 0 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

/* line 26, ../sass/flows-common.scss */
.flows {
  text-align: left;
}
/* line 29, ../sass/flows-common.scss */
.flows .move-name {
  margin-right: -2px;
  font-weight: bold;
}
/* line 34, ../sass/flows-common.scss */
.flows .move-list {
  padding-left: 10px;
  list-style: none;
}
/* line 39, ../sass/flows-common.scss */
.flows .flow-title {
  margin-bottom: 0;
  position: relative;
}
/* line 43, ../sass/flows-common.scss */
.flows .flow-title .flow-icon {
  font-size: 4.5em;
  margin-right: 10px;
}
/* line 48, ../sass/flows-common.scss */
.flows .flow-title .flow-title-name {
  display: inline;
  position: relative;
  top: -12px;
  font-size: 36px;
}
/* line 56, ../sass/flows-common.scss */
.flows .flow-plays {
  text-align: right;
  font-size: 1.5em;
}
/* line 61, ../sass/flows-common.scss */
.flows .avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 4em;
}
/* line 70, ../sass/flows-common.scss */
.flows .flow-author-info {
  margin-top: 10px;
  font-size: 0.9em;
}
/* line 75, ../sass/flows-common.scss */
.flows .flow-author {
  padding-top: 3px;
  margin-left: 8px;
  font-weight: bold;
}
/* line 81, ../sass/flows-common.scss */
.flows .flow-date {
  margin-left: 8px;
  color: #555;
}
/* line 86, ../sass/flows-common.scss */
.flows .flow-description {
  padding-bottom: 20px;
}
/* line 90, ../sass/flows-common.scss */
.flows .flow-description .editable, .flows .flow-description .form-inline, .flows .flow-description textarea, .flows .flow-description .editable-controls {
  width: 100%;
}
/* line 94, ../sass/flows-common.scss */
.flows .flow-description textarea {
  height: 100px;
}
/* line 98, ../sass/flows-common.scss */
.flows .flow-description .editable-buttons {
  display: block;
  padding-top: 5px;
}