/* line 3, ../sass/flows.scss */
.slick-arrow {
  z-index: 1;
}

/* line 7, ../sass/flows.scss */
.flow-box {
  margin-top: 10px;
  margin-bottom: 15px;
  min-height: 20px;
  padding: 20px 20px 0 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

/* line 18, ../sass/flows.scss */
.flows {
  text-align: left;
}
/* line 21, ../sass/flows.scss */
.flows .start-flow {
  font-size: 18px;
}
/* line 25, ../sass/flows.scss */
.flows .move-list {
  padding-left: 10px;
  list-style: none;
}
/* line 30, ../sass/flows.scss */
.flows .flow-title {
  margin-bottom: 0;
  position: relative;
}
/* line 34, ../sass/flows.scss */
.flows .flow-title .flow-icon {
  font-size: 4.5em;
  margin-right: 10px;
}
/* line 39, ../sass/flows.scss */
.flows .flow-title .flow-title-name {
  display: inline;
  position: relative;
  top: -12px;
  font-size: 36px;
}
/* line 47, ../sass/flows.scss */
.flows .flow-plays {
  text-align: right;
  font-size: 1.5em;
}
/* line 52, ../sass/flows.scss */
.flows .avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 4em;
}
/* line 61, ../sass/flows.scss */
.flows .flow-author-info {
  margin-top: 10px;
  font-size: 0.9em;
}
/* line 66, ../sass/flows.scss */
.flows .flow-author {
  padding-top: 3px;
  margin-left: 8px;
  font-weight: bold;
}
/* line 72, ../sass/flows.scss */
.flows .flow-date {
  margin-left: 8px;
  color: #555;
}
/* line 77, ../sass/flows.scss */
.flows .flow-description {
  padding-bottom: 20px;
}
/* line 81, ../sass/flows.scss */
.flows .flow-description .editable, .flows .flow-description .form-inline, .flows .flow-description textarea, .flows .flow-description .editable-controls {
  width: 100%;
}
/* line 85, ../sass/flows.scss */
.flows .flow-description textarea {
  height: 100px;
}
/* line 89, ../sass/flows.scss */
.flows .flow-description .editable-buttons {
  display: block;
  padding-top: 5px;
}
/* line 95, ../sass/flows.scss */
.flows .likes {
  float: right;
  font-size: 1.5em;
  padding-right: 20px;
}
@media (max-width: 551px) {
  /* line 95, ../sass/flows.scss */
  .flows .likes {
    padding-right: 0;
  }
}
@media (max-width: 378px) {
  /* line 95, ../sass/flows.scss */
  .flows .likes {
    position: relative;
    right: 0;
    top: -60px;
  }
}
/* line 113, ../sass/flows.scss */
.flows .flow-actions {
  padding: 5px 0 8px 0;
}
/* line 116, ../sass/flows.scss */
.flows .flow-actions a {
  margin-right: 10px;
}
@media (max-width: 551px) {
  /* line 121, ../sass/flows.scss */
  .flows .flow-actions .owner-actions {
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
  }
}
@media (max-width: 378px) {
  /* line 131, ../sass/flows.scss */
  .flows .flow-actions .social-actions a {
    display: block;
  }
}
@media (max-width: 378px) {
  /* line 139, ../sass/flows.scss */
  .flows .flow-actions a:not(.like-button) {
    margin-top: 5px;
    font-size: 1.15em;
  }
}
/* line 145, ../sass/flows.scss */
.flows .icon-with-text-remix {
  margin-right: 6px;
}
/* line 149, ../sass/flows.scss */
.flows .easy-move {
  color: green;
}
/* line 153, ../sass/flows.scss */
.flows .medium-move {
  color: orange;
}
/* line 157, ../sass/flows.scss */
.flows .hard-move {
  color: red;
}
/* line 161, ../sass/flows.scss */
.flows .move-entry {
  padding-bottom: 5px;
}
/* line 165, ../sass/flows.scss */
.flows .move-name {
  margin-right: -2px;
  font-weight: bold;
}
/* line 170, ../sass/flows.scss */
.flows .move-difficulty {
  font-size: 1.5em;
}
/* line 174, ../sass/flows.scss */
.flows .move-description-link {
  font-size: 0.8em;
}
/* line 178, ../sass/flows.scss */
.flows .separator {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 185, ../sass/flows.scss */
.flow-end .likes {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
}
/* line 190, ../sass/flows.scss */
.flow-end .social-actions {
  padding: 5px 0 8px 0;
}
/* line 193, ../sass/flows.scss */
.flow-end .social-actions a {
  margin-right: 10px;
}

/* line 199, ../sass/flows.scss */
.flow-delete-modal {
  padding: 20px;
}
/* line 202, ../sass/flows.scss */
.flow-delete-modal .flow-delete-buttons {
  margin-top: 10px;
  display: block;
}

/* line 208, ../sass/flows.scss */
.editable-buttons {
  font-size: 14px;
}

/* line 212, ../sass/flows.scss */
.flow-name-control {
  display: inline-block;
  position: absolute;
  top: 20px;
  height: 40px;
  font-size: 18px;
  width: 80%;
}

/* line 221, ../sass/flows.scss */
.search-field-container {
  margin: -50px 0 15px 0;
  padding: 20px 0 5px 20px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}
/* line 227, ../sass/flows.scss */
.search-field-container .btn-search {
  padding: 0 7px 0 7px;
}
/* line 231, ../sass/flows.scss */
.search-field-container .search-form {
  padding-left: 0;
}
/* line 235, ../sass/flows.scss */
.search-field-container .action-buttons {
  float: right;
}
/* line 238, ../sass/flows.scss */
.search-field-container .action-buttons .btn-circle {
  font-size: 20px;
  border-radius: 25px;
  margin-top: -3px;
  margin-right: 2px;
}

/* line 247, ../sass/flows.scss */
.search-field-container.ui-scrollpoint {
  position: fixed;
  top: 40px;
  z-index: 3;
}
@media (min-width: 768px) {
  /* line 247, ../sass/flows.scss */
  .search-field-container.ui-scrollpoint {
    width: 768px;
  }
}
@media (min-width: 992px) {
  /* line 247, ../sass/flows.scss */
  .search-field-container.ui-scrollpoint {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  /* line 247, ../sass/flows.scss */
  .search-field-container.ui-scrollpoint {
    width: 1200px;
  }
}

/* line 265, ../sass/flows.scss */
.flow-list {
  background-color: white;
  box-shadow: 0 1px 2px #eee;
}

/* line 270, ../sass/flows.scss */
.flow-list-item {
  display: flex;
  align-items: flex-start;
}
/* line 275, ../sass/flows.scss */
.flow-list-item ul {
  padding-left: 0;
  margin-bottom: 0;
}
/* line 280, ../sass/flows.scss */
.flow-list-item li {
  display: inline-block;
  list-style: none;
}
/* line 285, ../sass/flows.scss */
.flow-list-item li:before {
  font-size: 1.3em;
  content: '\002022';
  margin: 0 5px 0 0;
}
@media (max-width: 370px) {
  /* line 292, ../sass/flows.scss */
  .flow-list-item .flow-item-sub-info li:before {
    display: none;
  }
}
/* line 297, ../sass/flows.scss */
.flow-list-item li:first-child:before {
  display: none;
}
/* line 301, ../sass/flows.scss */
.flow-list-item li:last-child {
  margin-right: 0;
}
/* line 305, ../sass/flows.scss */
.flow-list-item .flow-item-icon {
  font-size: 3em;
  margin-right: 8px;
}
/* line 310, ../sass/flows.scss */
.flow-list-item .flow-item-left {
  margin-right: 1em;
}
@media (max-width: 492px) {
  /* line 310, ../sass/flows.scss */
  .flow-list-item .flow-item-left {
    margin-right: 0.6em;
  }
}
/* line 318, ../sass/flows.scss */
.flow-list-item .flow-item-info {
  flex: 1;
}
/* line 322, ../sass/flows.scss */
.flow-list-item .flow-item-sub-info {
  line-height: 19px;
  color: #767676;
}
@media (min-width: 492px) {
  /* line 327, ../sass/flows.scss */
  .flow-list-item .flow-social {
    float: right;
    font-size: 1.5em;
  }
}
@media (max-width: 491px) {
  /* line 327, ../sass/flows.scss */
  .flow-list-item .flow-social {
    line-height: 19px;
  }
}
/* line 338, ../sass/flows.scss */
.flow-list-item .flow-name {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 343, ../sass/flows.scss */
.flow-list-item .flow-length {
  margin-top: 8px;
}
/* line 347, ../sass/flows.scss */
.flow-list-item .flow-item-description {
  margin-top: 5px;
}
/* line 349, ../sass/flows.scss */
.flow-list-item .flow-item-description a {
  color: #767676;
}
