/* line 1, ../sass/flows.scss */
.flows {
  text-align: left;
}
/* line 4, ../sass/flows.scss */
.flows .move-list {
  padding-bottom: 20px;
}
/* line 8, ../sass/flows.scss */
.flows .flow-title {
  margin-bottom: 0;
}
/* line 12, ../sass/flows.scss */
.flows .flow-plays {
  text-align: right;
  font-size: 1.5em;
}
/* line 17, ../sass/flows.scss */
.flows .avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
}
/* line 25, ../sass/flows.scss */
.flows hr {
  margin: 0;
}
/* line 29, ../sass/flows.scss */
.flows .flow-author-info {
  margin-top: 10px;
  font-size: 0.9em;
}
/* line 34, ../sass/flows.scss */
.flows .flow-author {
  padding-top: 3px;
  margin-left: 8px;
  font-weight: bold;
}
/* line 40, ../sass/flows.scss */
.flows .flow-date {
  font-style: italic;
  margin-left: 8px;
}
/* line 45, ../sass/flows.scss */
.flows .flow-box {
  margin-top: 10px;
  margin-bottom: 15px;
  min-height: 20px;
  padding: 20px 20px 0 20px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 54, ../sass/flows.scss */
.flows .likes {
  float: right;
  font-size: 1.5em;
  padding-right: 20px;
}
/* line 60, ../sass/flows.scss */
.flows .flow-actions {
  padding: 5px 0 5px 0;
}
