/* :not(:required) hides this rule from IE9 and below */
/* line 3, ../sass/loader.scss */
.inner-circles-loader:not(:required) {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 0, 0);
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #19a598;
  background: rgba(25, 165, 152, 0.5);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  /* Hides inner circles outside base circle at safari */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/* line 22, ../sass/loader.scss */
.inner-circles-loader:not(:required):before, .inner-circles-loader:not(:required):after {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* line 32, ../sass/loader.scss */
.inner-circles-loader:not(:required):before {
  animation: inner-circles-loader 3s infinite;
  transform-origin: 0 50%;
  left: 0;
  background: #c7efcf;
}

/* line 39, ../sass/loader.scss */
.inner-circles-loader:not(:required):after {
  animation: inner-circles-loader 3s 0.2s reverse infinite;
  transform-origin: 100% 50%;
  right: 0;
  background: #ffe759;
}

@keyframes inner-circles-loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
