/* line 3, ../sass/navbar.scss */
.navbar {
  border-color: transparent;
  border-bottom: 3px solid #fcb426;
  border-radius: 0;
  min-height: 30px;
}

/* line 11, ../sass/navbar.scss */
.navbar-brand {
  position: relative;
  font-family: 'lobster', verdana, sans-serif;
  animation: logoEnter 0.45s both ease-in-out;
}

/* line 18, ../sass/navbar.scss */
.navbar-inverse .navbar-brand {
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.8em;
  height: auto;
  color: #c12b32;
}
@media only screen and (max-width: 768px) {
  /* line 18, ../sass/navbar.scss */
  .navbar-inverse .navbar-brand {
    margin-top: 8px;
  }
}

@keyframes logoEnter {
  from {
    opacity: 0;
    transform: translateY(-150%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* line 43, ../sass/navbar.scss */
.nav .avatar {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
}

/* line 52, ../sass/navbar.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #c12b32;
}

/* line 56, ../sass/navbar.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #fcb426;
}

/* line 61, ../sass/navbar.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #ddd;
}

/* line 65, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}

/* line 72, ../sass/navbar.scss */
.navbar-nav > li {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  /* line 72, ../sass/navbar.scss */
  .navbar-nav > li {
    display: block;
  }
}

/* line 80, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

/* line 84, ../sass/navbar.scss */
.navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-top: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 0;
  margin-top: 7px;
  margin-bottom: 3px;
}
@media only screen and (max-width: 768px) {
  /* line 84, ../sass/navbar.scss */
  .navbar-nav > li > a {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* line 100, ../sass/navbar.scss */
.navbar-nav > li > a {
  padding: 0 4px;
  display: inline-block;
}

/* line 105, ../sass/navbar.scss */
.navbar-nav > li:before {
  color: white;
  font-size: 1.3em;
  content: '\002022';
  margin: 0 5px;
}
@media only screen and (max-width: 768px) {
  /* line 105, ../sass/navbar.scss */
  .navbar-nav > li:before {
    display: none;
  }
}

/* line 116, ../sass/navbar.scss */
.navbar-nav > li:first-child:before {
  display: none;
}

/* line 120, ../sass/navbar.scss */
.navbar-nav > li:last-child {
  margin-right: 0;
}

/* line 124, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  border-top-color: #fcb426;
  transition: border-top-color 0.15s ease;
}

/* line 129, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > .active > a {
  background: transparent;
  border-top-color: #c12b32;
}

/* line 134, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: transparent;
}

@media only screen and (max-width: 768px) {
  /* line 139, ../sass/navbar.scss */
  .navbar-nav {
    display: block;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* line 146, ../sass/navbar.scss */
  .navbar-nav.login {
    margin-top: 10px;
  }

  /* line 150, ../sass/navbar.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #ddd;
  }

  /* line 154, ../sass/navbar.scss */
  .navbar-nav > li > a.dropdown-toggle {
    padding-top: 3px;
    margin-bottom: 3px;
    margin-right: 0;
    margin-top: 5px;
  }

  /* line 161, ../sass/navbar.scss */
  .dropdown-menu {
    text-align: right;
  }

  /* line 165, ../sass/navbar.scss */
  .dropdown-menu > li > a {
    display: inline;
  }

  /* line 169, ../sass/navbar.scss */
  .navbar-nav .open .dropdown-menu {
    height: 70px;
    visibility: visible;
  }

  /* line 174, ../sass/navbar.scss */
  .navbar-nav .dropdown-menu {
    position: relative !important;
    display: block;
    visibility: hidden;
    height: 0;
    float: none;
    width: auto;
    overflow: hidden;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility;
  }
}
/* line 192, ../sass/navbar.scss */
.sticky-item {
  margin-left: 18px;
  margin-right: 10px;
}