/* line 5, ../sass/navbar.scss */
.navbar-inverse .navbar-brand {
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.8em;
  height: auto;
  color: #000;
}

/* line 14, ../sass/navbar.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #000;
}

/* line 18, ../sass/navbar.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #fcb426;
}

/* line 23, ../sass/navbar.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #fcb426;
}

@media (max-width: 768px) {
  /* line 28, ../sass/navbar.scss */
  .navbar-nav {
    display: inline-block;
  }
}
/* line 33, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #666;
  background-color: transparent;
}

/* line 40, ../sass/navbar.scss */
.navbar-inverse .navbar-toggle {
  background-color: #333;
}

/* line 44, ../sass/navbar.scss */
.navbar-nav > li {
  display: inline-block;
}

/* line 48, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #666;
}

/* line 52, ../sass/navbar.scss */
.navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-top: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 0;
  margin-top: 7px;
  margin-bottom: 3px;
}

/* line 63, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #666;
  border-top-color: #fcb426;
  -webkit-transition: border-top-color 0.15s ease;
  -moz-transition: border-top-color 0.15s ease;
  -o-transition: border-top-color 0.15s ease;
  transition: border-top-color 0.15s ease;
}

/* line 72, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > .active > a {
  color: #666;
  background: transparent;
  border-top-color: #c12b32;
}

/* line 78, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #666;
  background: transparent;
}

/* line 83, ../sass/navbar.scss */
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #666;
}

/* line 87, ../sass/navbar.scss */
.nav .avatar {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
}

/* line 95, ../sass/navbar.scss */
.navbar {
  background-color: #f9f9f9;
  border-color: transparent;
  border-bottom: 3px solid #fcb426;
  border-radius: 0;
  min-height: 30px;
  margin-bottom: 50px;
}

/* line 104, ../sass/navbar.scss */
.navbar-nav > li > a {
  padding: 0 4px;
  display: inline-block;
}

/* line 109, ../sass/navbar.scss */
.navbar-nav > li:before {
  color: #111;
  font-size: 1.3em;
  content: '\002022';
  margin: 0 5px;
}

/* line 116, ../sass/navbar.scss */
.navbar-nav > li:first-child:before {
  display: none;
}

/* line 120, ../sass/navbar.scss */
.navbar-nav > li:last-child {
  margin-right: 0;
}
