/* line 5, ../sass/profile.scss */
.profile {
  text-align: left;
}
/* line 8, ../sass/profile.scss */
.profile .list-box {
  margin: 20px 0 20px 0;
  background-color: white;
}
/* line 13, ../sass/profile.scss */
.profile .list-box-list {
  padding-left: 0;
}
/* line 17, ../sass/profile.scss */
.profile h2 {
  font-size: 1.3em;
  border: 1px solid #d4d4d4;
  background-color: #e5e5e5;
  padding: 8px;
  margin: 0;
}
/* line 25, ../sass/profile.scss */
.profile .list-box-inner {
  position: relative;
  padding: 10px;
  list-style: none;
  border: 1px solid #d4d4d4;
  border-top: 0;
  margin: 0;
}
/* line 33, ../sass/profile.scss */
.profile .list-box-inner .no-entry {
  color: #555;
}
/* line 38, ../sass/profile.scss */
.profile .play-now {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}
/* line 45, ../sass/profile.scss */
.profile .flow-list {
  margin-top: 10px;
}

/* line 52, ../sass/profile.scss */
.profile .profile-bar .error-icon {
  font-size: 5em;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #aaa;
}
/* line 60, ../sass/profile.scss */
.profile .profile-bar .avatar {
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1px;
}
/* line 68, ../sass/profile.scss */
.profile .profile-bar h1 {
  font-size: 2em;
  overflow: hidden;
  display: block;
  width: 100%;
}
/* line 75, ../sass/profile.scss */
.profile .profile-bar .name {
  margin-top: 3px;
  margin-bottom: 3px;
}
/* line 80, ../sass/profile.scss */
.profile .profile-bar .username {
  margin-top: 2px;
  font-size: 1.5em;
  color: #666;
}
/* line 86, ../sass/profile.scss */
.profile .profile-bar .user-info {
  margin-top: 4px;
}
/* line 90, ../sass/profile.scss */
.profile .profile-bar .user-details {
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
/* line 99, ../sass/profile.scss */
.profile .profile-bar .join-date {
  font-style: italic;
}

/* line 105, ../sass/profile.scss */
.box-container {
  margin-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

/* line 114, ../sass/profile.scss */
.profile .stats {
  text-align: center;
}
/* line 117, ../sass/profile.scss */
.profile .stats tspan {
  font-family: 'FontAwesome';
  font-size: 1.5em;
}
/* line 122, ../sass/profile.scss */
.profile .stats .info {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 130, ../sass/profile.scss */
.profile .achievements .achievement {
  width: 174px;
  height: 160px;
  float: left;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  background-color: #808080;
  color: #cccccc;
}
@media (max-width: 435px) {
  /* line 130, ../sass/profile.scss */
  .profile .achievements .achievement {
    width: 145px;
  }
}
@media (max-width: 375px) {
  /* line 130, ../sass/profile.scss */
  .profile .achievements .achievement {
    width: 125px;
    height: 140px;
    margin: 5px;
  }
}
/* line 153, ../sass/profile.scss */
.profile .achievements .awarded {
  background-color: black;
  border: 3px solid #fcb426;
  color: white;
}
/* line 159, ../sass/profile.scss */
.profile .achievements .popover {
  color: black;
}

/* line 164, ../sass/profile.scss */
.profile .nav {
  font-size: 1.2em;
}
/* line 166, ../sass/profile.scss */
.profile .nav a {
  padding-left: 15px;
}
@media (max-width: 528px) {
  /* line 166, ../sass/profile.scss */
  .profile .nav a {
    display: block;
  }
}

/* line 175, ../sass/profile.scss */
.achievement-description-modal {
  padding: 30px;
}

/* line 179, ../sass/profile.scss */
.achievement-inner {
  padding: 30px 0;
}