/* line 1, ../sass/profile.scss */
.profile {
  text-align: left;
}

/* line 6, ../sass/profile.scss */
.profile .list-box {
  margin: 20px 0 20px 0;
  background-color: white;
}
/* line 11, ../sass/profile.scss */
.profile .list-box-list {
  padding-left: 0;
}
/* line 15, ../sass/profile.scss */
.profile h2 {
  font-size: 1.3em;
  border: 1px solid #d4d4d4;
  background-color: #e5e5e5;
  padding: 8px;
  margin: 0;
}
/* line 23, ../sass/profile.scss */
.profile .list-box-inner {
  position: relative;
  padding: 10px;
  list-style: none;
  border: 1px solid #d4d4d4;
  border-top: 0;
  margin: 0;
}
/* line 31, ../sass/profile.scss */
.profile .list-box-inner .no-entry {
  color: #555;
}
/* line 36, ../sass/profile.scss */
.profile .play-now {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}
/* line 43, ../sass/profile.scss */
.profile .flow-list {
  margin-top: 10px;
}

/* line 49, ../sass/profile.scss */
.profile .profile-bar .avatar {
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1px;
}
/* line 57, ../sass/profile.scss */
.profile .profile-bar h1 {
  font-size: 2em;
  overflow: hidden;
  display: block;
  width: 100%;
}
/* line 64, ../sass/profile.scss */
.profile .profile-bar .name {
  margin-top: 3px;
  margin-bottom: 3px;
}
/* line 69, ../sass/profile.scss */
.profile .profile-bar .username {
  margin-top: 2px;
  font-size: 1.5em;
  color: #666;
}
/* line 75, ../sass/profile.scss */
.profile .profile-bar .user-info {
  margin-top: 4px;
}
/* line 79, ../sass/profile.scss */
.profile .profile-bar .user-details {
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
/* line 88, ../sass/profile.scss */
.profile .profile-bar .join-date {
  font-style: italic;
}

/* line 93, ../sass/profile.scss */
.profile .stats {
  text-align: center;
}
/* line 96, ../sass/profile.scss */
.profile .stats tspan {
  font-family: 'FontAwesome';
  font-size: 1.5em;
}
/* line 101, ../sass/profile.scss */
.profile .stats .info {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 108, ../sass/profile.scss */
.profile .achievements .achievement {
  width: 174px;
  height: 160px;
  float: left;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  background-color: #808080;
  color: #cccccc;
}
@media (max-width: 435px) {
  /* line 108, ../sass/profile.scss */
  .profile .achievements .achievement {
    width: 145px;
  }
}
@media (max-width: 375px) {
  /* line 108, ../sass/profile.scss */
  .profile .achievements .achievement {
    width: 125px;
    height: 140px;
    margin: 5px;
  }
}
/* line 132, ../sass/profile.scss */
.profile .achievements .awarded {
  background-color: black;
  border: 3px solid #fcb426;
  color: white;
}
/* line 138, ../sass/profile.scss */
.profile .achievements .popover {
  color: black;
}

/* line 143, ../sass/profile.scss */
.profile .nav {
  font-size: 1.2em;
}
/* line 145, ../sass/profile.scss */
.profile .nav a {
  padding-left: 15px;
}
@media (max-width: 528px) {
  /* line 145, ../sass/profile.scss */
  .profile .nav a {
    display: block;
  }
}

/* line 154, ../sass/profile.scss */
.achievement-description-modal {
  padding: 30px;
}

/* line 158, ../sass/profile.scss */
.achievement-inner {
  padding: 30px 0;
}
