@media only screen and (max-width: 768px) {
  /* line 4, ../sass/slider.scss */
  rzslider {
    margin-top: 20px;
  }
}
/* line 9, ../sass/slider.scss */
.rz-bubble {
  display: none !important;
}

/* line 13, ../sass/slider.scss */
rzslider span.rz-pointer.rz-active:after {
  background-color: white;
}

/* line 17, ../sass/slider.scss */
rzslider span.rz-pointer:hover {
  background-color: #00A0D7;
}

/* line 21, ../sass/slider.scss */
rzslider span.rz-pointer.rz-active {
  background-color: #00A0D7;
}