/* line 2, ../sass/workout.scss */
.workout-create .slick-prev:before,
.workout-create .slick-next:before {
  color: black;
}
/* line 7, ../sass/workout.scss */
.workout-create .slick-prev {
  left: 0;
}
/* line 11, ../sass/workout.scss */
.workout-create .slick-next {
  right: 0;
}
/* line 15, ../sass/workout.scss */
.workout-create .advanced-gear {
  padding-left: 5px;
}
/* line 19, ../sass/workout.scss */
.workout-create h4 {
  margin-top: 0;
  margin-bottom: 8px;
}
/* line 24, ../sass/workout.scss */
.workout-create slider {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/workout.scss */
  .workout-create .workout-column {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  /* line 37, ../sass/workout.scss */
  .workout-create .workout-column-mid {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
  }
}

/* line 44, ../sass/workout.scss */
.flow-variable-explanation {
  padding: 30px;
}

/* line 48, ../sass/workout.scss */
.rz-bubble {
  display: none !important;
}

/* line 52, ../sass/workout.scss */
rzslider span.rz-pointer.rz-active:after {
  background-color: white;
}

/* line 56, ../sass/workout.scss */
rzslider span.rz-pointer:hover {
  background-color: #00A0D7;
}

/* line 60, ../sass/workout.scss */
rzslider span.rz-pointer.rz-active {
  background-color: #00A0D7;
}
