/* line 4, ../sass/workout.scss */
.workout-create .advanced-gear {
  padding-left: 5px;
}
/* line 8, ../sass/workout.scss */
.workout-create h4 {
  margin-top: 0;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  /* line 14, ../sass/workout.scss */
  .workout-create .slider-title {
    display: inline;
    padding-top: 10px;
  }
  /* line 19, ../sass/workout.scss */
  .workout-create .slider-block {
    margin-bottom: 45px;
  }
  /* line 23, ../sass/workout.scss */
  .workout-create .advanced-pane .slider-block:last-child {
    margin-bottom: 0;
  }
  /* line 27, ../sass/workout.scss */
  .workout-create .slider-amount {
    margin-top: 0;
  }
  /* line 31, ../sass/workout.scss */
  .workout-create h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  /* line 36, ../sass/workout.scss */
  .workout-create h4 {
    margin-bottom: 0;
  }
  /* line 40, ../sass/workout.scss */
  .workout-create .workout-column {
    margin-top: 50px;
  }
  /* line 44, ../sass/workout.scss */
  .workout-create .main-pane > div:first-child .workout-column {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  /* line 50, ../sass/workout.scss */
  .workout-create .workout-column {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 57, ../sass/workout.scss */
  .workout-create .workout-column-mid {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
  }
}

/* line 65, ../sass/workout.scss */
.flow-variable-explanation {
  padding: 30px;
}