'use strict';

module.exports = {
   development: {
      s3: {
        key: 'YOURSECRETKEY',
        secret: 'YOURSECRETKEY'
      },
      mongoSecret: 'YOURSECRETKEY'
    },
    test: {
      s3: {
        key: 'YOURSECRETKEY',
        secret: 'YOURSECRETKEY'
      },
      mongoSecret: 'YOURSECRETKEY'
    },
    production: {
      s3: {
        key: 'YOURSECRETKEY',
        secret: 'YOURSECRETKEY'
      },
      mongoSecret: 'YOURSECRETKEY'
    }
};