<section>
    <form ng-submit="create()">
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" ng-model="flow.name" id="name" placeholder="Name">
            </div>
            <label class="control-label" for="author">Author</label>
            <div class="controls">
                <input type="text" ng-model="flow.author" id="author" placeholder="Author">
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn">
                </div>
            </div>
        </div>
    </form>
</section>