<section class="flows center-block col-sm-8">
    <form>
        <div class="form-group">
            <label for="name">Flow Name</label>
            <input type="text" class="form-control" ng-model="flow.name" id="name" placeholder="Flow Name">
        </div>
        <div class="form-group">
            <label for="name">Flow Author</label>
            <input type="text" class="form-control" ng-model="flow.author" id="author" placeholder="Flow Author">
        </div>
    </form>
    <h3>Moves</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Move</th>
                <th>Duration</th>
                <th> </th>
            </tr>
        </thead>
        <tbody ui:sortable ng:model="moveList">
            <tr ng:repeat="move in moveList" class="item">
                <td>
                    <span editable-text="move.move.name" e-autocomplete="off" e-name="name" e-class="form-control" e-form="flowForm" e-required e-typeahead="move as move.name for move in allMoves | filter:$viewValue | limitTo:20" e-typeahead-editable="false" oncancel="cancelMove($index)" onbeforesave="checkMove($data)" onaftersave="updateMove($index, $data)">
                        {{move.move.name}}
                    </span>
                </td>
                <td>
                    <span editable-text="move.duration" e-name="duration" e-class="form-control" e-form="flowForm" onbeforesave="checkDuration($data)" e-required>
                        {{move.duration}}
                    </span>
                </td>
                <td>
                    <form editable-form name="flowForm" ng-show="flowForm.$visible" class="form-buttons form-inline" shown="inserted == move">
                      <button type="submit" ng-disabled="flowForm.$waiting" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                      <button type="button" ng-disabled="flowForm.$waiting" ng-click="flowForm.$cancel()" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    </form>
                    <div class="buttons" ng-show="!flowForm.$visible">
                      <button class="btn btn-primary" ng-click="flowForm.$show()"><span class="glyphicon glyphicon-pencil"></span></button>
                      <button class="btn btn-danger" ng-click="removeMove($index)"><span class="glyphicon glyphicon-minus"></span></button>
                    </div>  
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default" ng-click="addMove()"><span class="glyphicon glyphicon-plus"></button>

    <div class="inner">
        <form ng-submit="create()">
            <div class="form-group">
                <div flash-alert="error" active-class="in alert alert-danger" role="alert" class="fade" duration="0">
                    <button type="button" class="close" ng-click="hide()">&times;</button>
                    <strong class="alert-heading">Error</strong>
                    <span class="alert-message">{{flash.message}}</span>
                </div>
                <button type="submit" class="btn btn-default">Create Flow</button>
            </div>
        </form>
    </div>
    <debug class="block">
        <p>{{moveList}}</p>
        <p>{{flow}}</p>
    </debug>
</section>