<section class="flows">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Flow</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='flow in featuredFlows'>
                <!-- TODO: A directive for showing a flow -->
                <td><a ng-href="/flow/{{flow.id}}">{{flow.name}}</a></td>
            </tr>
        </tbody>
    </table>
    <h3><a ng-href="/flow/{{randomFlow.id}}">Random</a></h3>
    <h3><a href="/flow/create">Create your own</a></h3>
</section>