<section class="flows">
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Flow</th>
                <th>Author</th>
                <th>Rating</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='flow in flows | filter:query'>
                <td><a href="/flow/{{flow._id}}">{{flow.name}}</a></td>
                <td>{{flow.author}}</td>
                <td>100</td>
                <td><a href="/flow/{{flow._id}}/edit">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <h3><a href="/flow/create">Create your own</a></h3>
    <a href="/"><span class="glyphicon glyphicon-circle-arrow-left back-button"></span></a>
</section>