<section>
    Total Time (Minutes): {{flowParams.totalMinutes}}
    <div ui-slider min="0" step="10" max="120" ng-model="flowParams.totalMinutes"></div>
    Difficulty: {{flowParams.difficulty}}
    <div ui-slider min="0" max="11" ng-model="flowParams.difficulty"></div>
    Move Duration (Seconds): {{flowParams.timePerMove}}
    <div ui-slider min="5" max="60" ng-model="flowParams.timePerMove"></div>
    Move Variance (Seconds): {{flowParams.timeVariance}}
    <div ui-slider min="0" max="60" ng-model="flowParams.timeVariance"></div>
    <button ng-click="start()">Start!</button>
</section>