<section class="flows">
    <h1 class="flow-title">{{flow.name}}</h1>
    <em>Created by {{flow.author.name || "Anonymous"}} on {{flow.createdAt | date}}</em>

    <h3>Moves</h3>
    <ul>
        <li ng-repeat='moveEntry in flow.moves'>
            {{moveEntry.move.name}} - {{moveEntry.duration}} seconds
        </li>
    </ul>
    <a ng-href="/flow/{{flow.id}}/edit" ng-show="canEdit">Edit Your Flow</a>
    <button ng-click="start()" class="btn btn-default">Start Flow</button>
    <flow-share flow-id="{{flow.id}}"></flow-share>
    <back-button url="/flows"></back-button>
</section>