<section class="workout-create">
    <div class="row">
        <div ng-class="{ 'advanced-open': vm.showAdvancedPane }" class="pull-right">
            <a ng-click="vm.toggleAdvancedPane()">Advanced<span class="advanced-gear glyphicon glyphicon-cog"></span></a>
        </div>
    </div>
    <div collapse="vm.collapseAdvancedPane" class="advanced-pane">
        <div class="row">
            <div class="col-sm-3">
                <h4>Move Duration <span class="glyphicon glyphicon-question-sign" popover="Allows you to fine-tune the base time per move." popover-trigger="mouseenter"></span></h4>
                <slider floor="5" ceiling="60" ng-model="vm.flowParams.timePerMove"></slider>
                <h4>{{vm.flowParams.timePerMove}} seconds</h4>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h4>Move Variance <span class="glyphicon glyphicon-question-sign" popover="This is the random number of seconds added to each move in the workout." popover-trigger="mouseenter"></span></h4>
                <slider floor="0" ceiling="60" ng-model="vm.flowParams.timeVariance"></slider>
                <h4>{{vm.flowParams.timeVariance}} seconds</h4>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h4>Difficulty <span class="glyphicon glyphicon-question-sign" popover="Moves that have a higher difficulty than this won't be part of the workout." popover-trigger="mouseenter"></span></h4>
                <slider floor="1" ceiling="11" ng-model="vm.flowParams.difficulty"></slider>
                <h4>{{vm.flowParams.difficulty}}</h4>
            </div>
        </div>
        <hr class="soften" />
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="workout-column">
                <h3>Flow Length</h3>
                <slider floor="5" step="10" ceiling="125" ng-model="vm.flowParams.totalMinutes"></slider>
                <h3>{{vm.flowParams.totalMinutes}} minutes</h3>
            </div>
        </div>
        <div class="col-sm-4 workout-column-mid">
            <div class="workout-column">
                <h3>Difficulty</h3>
                <slick dots=false infinite=false current-index="vm.currentDifficultyIndex" initial-slide="{{vm.currentDifficultyIndex}}">
                    <div><h3>Beginner</h3></div>
                    <div><h3>Intermediate</h3></div>
                    <div><h3>Hard</h3></div>
                    <div><h3>Expert</h3></div>
                </slick>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="workout-column">
                <h3>Move Length</h3>
                <slick dots=false infinite=false current-index="vm.currentMoveLengthIndex" initial-slide="{{vm.currentMoveLengthIndex}}">
                    <div><h3>Quick</h3></div>
                    <div><h3>Short</h3></div>
                    <div><h3>Medium</h3></div>
                    <div><h3>Long</h3></div>
                    <div><h3>Epic!</h3></div>
                </slick>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-lg" ng-click="vm.generateFlow()">Let's Go!</button>
    <back-button url="/"></back-button>
</section>