<section>
    <div class="row">
        <div ng-class="{ 'advanced-open': vm.showAdvancedPane }" class="pull-right">
            <a ng-click="vm.toggleAdvancedPane()">Advanced<span class="advanced-gear glyphicon glyphicon-cog"></span></a>
        </div>
    </div>
    <div collapse="vm.collapseAdvancedPane" class="advanced-pane">
        <div class="row">
            <div class="col-sm-3">
                <h5>Move Duration: {{vm.flowParams.timePerMove}}</h5><div glyphicon glyphicon-question></div>
                <slider floor="5" ceiling="60" ng-model="vm.flowParams.timePerMove"></slider>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h5>Move Variance: {{vm.flowParams.timeVariance}}</h5><div glyphicon glyphicon-question></div>
                <slider floor="0" ceiling="60" ng-model="vm.flowParams.timeVariance"></slider>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h5>Difficulty: {{vm.flowParams.difficulty}}</h5>
                <slider floor="0" ceiling="11" ng-model="vm.flowParams.difficulty"></slider>
            </div>
        </div>
        <hr class="soften" />
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Flow Length</h3>
            <slider floor="0" step="10" ceiling="120" ng-model="vm.flowParams.totalMinutes"></slider>
            <h3>{{vm.flowParams.totalMinutes}} minutes</h3>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3>Difficulty</h3>
            <slick dots=false infinite=false current-index="vm.currentDifficultyIndex" initial-slide="{{vm.currentDifficultyIndex}}">
                <div><h3>Beginner</h3></div>
                <div><h3>Intermediate</h3></div>
                <div><h3>Hard</h3></div>
                <div><h3>Expert</h3></div>
            </slick>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <h3>Move Length</h3>
            <slick dots=false infinite=false current-index="vm.currentMoveLengthIndex" initial-slide="{{vm.currentMoveLengthIndex}}">
                <div><h3>Quick</h3></div>
                <div><h3>Short</h3></div>
                <div><h3>Medium</h3></div>
                <div><h3>Long</h3></div>
                <div><h3>Epic!</h3></div>
            </slick>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-lg" ng-click="vm.generateFlow()">Let's Go!</button>
    <back-button url="/"></back-button>
</section>