<section class="workout-create">
    <div class="row">
        <div class="col-xs-12">
            <div ng-class="{ 'advanced-open': vm.showAdvancedPane }" class="pull-right">
                <a ng-click="vm.toggleAdvancedPane()">Advanced<span class="advanced-gear glyphicon glyphicon-cog"></span></a>
            </div>
        </div>
    </div>
    <div collapse="vm.collapseAdvancedPane" class="advanced-pane">
        <div class="row">
            <div class="col-sm-3 slider-block">
                <h4 class="slider-title">Move Duration <span class="glyphicon glyphicon-question-sign" popover="{{vm.moveDurationExplanation}}" popover-trigger="mouseenter" ng-click="vm.openExplanationModal(vm.moveDurationExplanation)" /></h4>
                <rzslider rz-slider-floor="5" rz-slider-ceil="60" rz-slider-model="vm.flowParams.timePerMove" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true" />
                <h4>{{vm.flowParams.timePerMove}} seconds</h4>
            </div>
            <div class="col-sm-3 col-sm-offset-1 slider-block">
                <h4 class="slider-title">Move Variance <span class="glyphicon glyphicon-question-sign" popover="{{vm.moveVarianceExplanation}}" popover-trigger="mouseenter" ng-click="vm.openExplanationModal(vm.moveVarianceExplanation)"></span></h4>
                <rzslider rz-slider-floor="0" rz-slider-ceil="60" rz-slider-model="vm.flowParams.timeVariance" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true" />
                <h4>{{vm.flowParams.timeVariance}} seconds</h4>
            </div>
            <div class="col-sm-3 col-sm-offset-1 slider-block">
                <h4 class="slider-title">Difficulty <span class="glyphicon glyphicon-question-sign" popover="{{vm.difficultyExplanation}}" popover-trigger="mouseenter" ng-click="vm.openExplanationModal(vm.difficultyExplanation)"></span></h4>
                <rzslider rz-slider-floor="1" rz-slider-ceil="11" rz-slider-model="vm.flowParams.difficulty" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true" />
                <h4>{{vm.flowParams.difficulty}}</h4>
            </div>
        </div>
        <hr class="soften" />
    </div>
    <div class="row main-pane">
        <div class="col-sm-4">
            <div class="workout-column">
                <h3 class="slider-title">Flow Length</h3>
                <rzslider rz-slider-floor="5" rz-slider-step="10" rz-slider-ceil="125" rz-slider-model="vm.flowParams.totalMinutes" rz-slider-hide-limit-labels="true" rz-slider-always-show-bar="true" />
                <h3 class="slider-amount">{{vm.flowParams.totalMinutes}} minutes</h3>
            </div>
        </div>
        <div class="col-sm-4 workout-column-mid">
            <div class="workout-column">
                <h3 class="slider-title">Difficulty</h3>
                <slick dots=false infinite=false current-index="vm.currentDifficultyIndex" initial-slide="{{vm.currentDifficultyIndex}}">
                    <div><h3>Beginner</h3></div>
                    <div><h3>Intermediate</h3></div>
                    <div><h3>Hard</h3></div>
                    <div><h3>Expert</h3></div>
                </slick>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="workout-column">
                <h3 class="slider-title">Move Length</h3>
                <slick dots=false infinite=false current-index="vm.currentMoveLengthIndex" initial-slide="{{vm.currentMoveLengthIndex}}">
                    <div><h3>Quick</h3></div>
                    <div><h3>Short</h3></div>
                    <div><h3>Medium</h3></div>
                    <div><h3>Long</h3></div>
                    <div><h3>Epic!</h3></div>
                </slick>
            </div>
        </div>
    </div>
    <div flash-alert="error" active-class="in alert" role="alert" duration="0">
        <button type="button" class="close" ng-click="hide()">&times;</button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <strong class="alert-heading">AcrOh Snap!</strong>
        <span class="alert-message">{{flash.message}}</span>
    </div>
    <button type="button" class="btn btn-default btn-lg" ng-click="vm.generateFlow()" ng-hide="vm.flash.error">Let's Go!</button>
</section>