<div class="row">
    <div class="col-xs-12">
        <div flash-alert="error" active-class="in alert alert-danger" role="alert" class="fade" duration="0" ng-show="vm.error">
            <button type="button" class="close" ng-click="hide()">&times;</button>
            <strong class="alert-heading">Error!</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
        <div class="inner-circles-loader" ng-hide="vm.move1 || vm.error">
          Loading…
        </div>
        <section class="washing-machine" ng-show="vm.move1">
            <h4>Go From</h4>
            <h2>{{vm.move1}}</h2>
            <h4>To</h4>
            <h2>{{vm.move2}}</h2>
            <h4>And back, and call it</h4>
            <h1>{{vm.washing_machine}}</h1>
            <share share-partial="washing-machine?coords={{vm.coords}}" class="share" />
            <div class="inner top-padding">
                <button type="button" class="btn btn-default btn-lg" ng-click="vm.generate()">Give me another</button>
            </div>
        </section>
        <back-button url="/"></back-button>
    </div>
</div>