<div class="container inner">  
  <div class="navbar-header pull-right">
    <ul class="nav navbar-nav pull-left" data-ng-hide="nav.authenticated">
      <li class="pull-right sticky-item"><a href="/login">Login</a></li>
    </ul>
    <ul class="nav pull-left" data-ng-show="nav.authenticated">
        <li class="dropdown pull-right">
            <a href="#" class="dropdown-toggle sticky-item">
                {{nav.user.name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-href="/users/{{nav.user.username}}">Profile</a></li>
                <li class="divider"></li>
                <li><a href ng-click="nav.logout()">Sign out</a></li>
            </ul>
        </li>
    </ul>

    <button type="button" class="navbar-toggle" data-target=".navbar-collapse", data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse navbar-right">
        <ul nav-menu class="nav navbar-nav pull-right">
            <li>
                <a ng-click="nav.about()">About</a>
            </li>
        </ul>
  </div>
</div>