<div class="container">  
  <div class="navbar-header">
    <a href="/" class="navbar-brand">acromaster</a>
    
    <button type="button" class="navbar-toggle" data-target=".navbar-collapse", data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul nav-menu class="nav navbar-nav">
            <li>
                <a href="/flows">Flows</a>
            </li>
            <li>
                <a href="/flow/workout">Workout</a>
            </li>
            <li>
                <a ng-click="nav.about()">About</a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav pull-right" data-ng-hide="nav.authenticated">
      <li class="pull-right sticky-item"><a href="/login">Login</a></li>
    </ul>
    <ul class="nav pull-right" data-ng-show="nav.authenticated">
        <li class="dropdown pull-right" dropdown>
            <a href="#" class="dropdown-toggle sticky-item" dropdown-toggle>
                <img class="avatar" ng-src="{{nav.user.profilePictureUrl}}">{{nav.user.username}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-href="/profile/{{nav.user.username}}">Profile</a></li>
                <li class="divider"></li>
                <li><a href ng-click="nav.logout()">Sign out</a></li>
            </ul>
        </li>
    </ul>
  </div>
</div>