@import 'variables';
@import 'animations';

/* Basic structure */
* {
    font-family:'Droid Sans', sans-serif;
}

html {
  background-color: $primary-background-color;
}

html,
body {
  min-height:100%;
  height: 100%;
}

body {
  background-color: transparent;
  overflow-x:hidden;
  margin:0;
  padding:0;

  color: $primary-font-color;
  text-align: center;
}

/* Standard padding / spacing */
.no-margin {
  margin: 0;
}

.inner {
  @media (min-width: 768px) {
    padding-top: 30px;
  }
  
  padding-bottom: 60px;
}

/* Default links and buttons */
a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

.btn {
  @include standard-ease(0.2s);
}

.btn:hover {
  @include standard-ease(0.2s);
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {  
  text-shadow: none; /* Prevent inheritence from `body` */
  color: white;
  background-color: #c12b32;
  border: 1px solid $primary-font-color;
  font-weight: bold;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: #741a1e;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 20px;
}

/* Other useful defaults */
span.large-glyphicon {
  font-size: 5.0em
}

.icon-with-text {
  margin-right: 4px;
}

hr.narrow {
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: white;
}

.back-button {
 font-size: 4.0em !important;
 padding-top: 40px;
 float: left;

 color: #00A0D7;
}

.back-button .glyphicon:hover,
.back-button .glyphicon:focus,
.back-button .glyphicon:active {
  @include standard-ease(0.2s);
  color: #0DB9F0;
}

.debug {
  margin-top: 20px;

  .btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    outline:none;
    border-bottom: none;
  }

  .debug-inner {
    font-size: 0.8em;
    padding: 0;
    text-align: left;
    border-top-left-radius: 0;
    background-color: #fff;
  }
}

/* View animations */
.view-container {
  position: relative;
}

.view-frame.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  animation:viewExit 0.5s both ease-in-out;
}

.view-frame.ng-enter {
  animation:viewEnter 0.5s both ease-in-out;
  z-index: 100;
}

.view-frame.ng-leave .back-button {
  display: none !important;
}

.btn.ng-hide {
  opacity: 0;
  display: none !important;
}

@keyframes viewExit {
  to {
    transform: translateX(150%);
  }
}

@keyframes viewEnter {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
