@import 'animations';

.flow-player {
  .move-name {
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px;
    line-height: 1;
  }

  .flow-start-button {
    font-size: 18.0em !important;
    padding-top: 40px;
  }

  .flow-player-button {
    @include standard-ease(0.2s);
    font-size: 4.0em;
    color: #222;
  }

  .flow-player-button.ng-hide-add {
    display: none !important;
  }

  .flow-player-button:hover {
    @include standard-ease(0.2s);
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }

  .controls-container {
    background-color: white;
    box-shadow: 0 1px 5px #eee;
    border-radius: 10px;
  }

  .controls-left {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 50px;

    @media (max-width: 500px) {
      padding-right: 40px;
    }

    @media (max-width: 768px) {
      margin-left: 12%; // TODO: Clean this up
    }
  }

  .controls-right {
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 20px;

    @media (max-width: 500px) {
      padding-right: 10px;
    }
  }

  @media (max-width: 500px) {
    .rz-pointer {
      width: 20px;
      height: 20px;
      top: -8px;
    }

    .rz-pointer:after {
      top: 6px;
      left: 6px;
    }
  }

  .volume-icon {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 2em;
    color: #222;

    @media (max-width: 500px) {
      left: 4px;
    }
  }

  .volume-icon:hover {
    @include standard-ease(0.2s);
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }

  .volume-slider {
    padding-bottom: 20px;    
    padding-left: 30px;

    @media (max-width: 500px) {
      padding-left: 14px;
    }
  }

  .controls-play {
    margin: 0 -30px;
    padding: 20px 0;
    width: 100px;
    border-radius: 100px;
    z-index: 1;

    @media (max-width: 500px) {
      margin: 9px -30px;
      padding: 10px 0;
      width: 80px;
      border-radius: 80px;
    }
  }

  .speed-slider-label {
    font-weight: bold;
  }
}