@import 'common-mixins';

.slick-arrow {
    z-index: 1;
}

.flow-box {
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 20px;
    padding: 20px 20px 0 20px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.flow-editor {
    .actions {
        margin-bottom: 20px;
    }

    .item .submit-buttons-row {
        min-width: 100px;
    }

    .item .move-name-row {
        min-width: 130px;
    }

    .reorder-btn {
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }
}


.flows {
    text-align: left;

    .start-flow {
        font-size: 18px;
    }

    .move-list {
      padding-left: 10px;
      list-style: none;
    }

    .flow-title {
      margin-bottom: 0;
      position: relative;

      .flow-icon {
        font-size: 4.5em;
        margin-right: 10px;
      }

      .flow-title-name {
        display: inline;
        position: relative;
        top: -12px;
        font-size: 36px;
      }
    }

    .flow-plays {
        text-align: right;
        font-size: 1.5em;
    }

    .avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
        border-radius: 3px;
        font-size: 4em;
    }

    .flow-author-info {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .flow-author {
        padding-top: 3px;
        margin-left: 8px;
        font-weight: bold;
    }

    .flow-date {
        margin-left: 8px;
        color: #555;
    }

    .buttons {
        white-space: nowrap;
    }

    .flow-description {
        padding-bottom: 20px;

        // Make description text box take up the whole space
        .editable, .form-inline, textarea, .editable-controls {
            width: 100%;
        }

        textarea {
            height: 100px;
        }

        .editable-buttons {
            display: block;
            padding-top: 5px;
        }
    }

    .likes {
        float: right;
        font-size: 1.5em;
        padding-right: 20px;

        @media (max-width: 551px) {
            padding-right: 0;
        }

        // When the screen is very small, position the like button
        // next to a vertically aligned list of actions.
        @media (max-width: 378px) {
            position: relative;
            right: 0;
            top: -60px;
        }
    }

    .flow-actions {
        padding: 5px 0 8px 0;

        a {
            margin-right: 10px;
        }

        @media (max-width: 551px) {
            .owner-actions {
                display: block;
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid #eee;
            }
        }

        @media (max-width: 378px) {
            .social-actions {
                a {
                    display: block;
                }
            }
        }
    }
    
    @media (max-width: 378px) {
        .flow-actions a:not(.like-button) {
            margin-top: 5px;
            font-size: 1.15em;
        }
    }

    .icon-with-text-remix {
        margin-right: 6px;
    }

    .easy-move {
        color: green;
    }

    .medium-move {
        color: orange;
    }

    .hard-move {
        color: red;
    }

    .move-entry {
        padding-bottom: 5px;
    }

    .move-name {
        margin-right: -2px;
        font-weight: bold;
    }

    .move-difficulty {
        font-size: 1.5em;
    }

    .move-description-link {
        font-size: 0.8em;
    }

    .separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.flow-end {
    .likes {
        font-size: 1.5em;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: 5px;
    }
    .social-actions {
        padding: 5px 0 8px 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            list-style: none;
            border-right: 1px solid #aaa;
            padding-right: 5px;
        }

        li:last-child {
            border-right: none;
        }

        li:last-child {
            padding-left: 5px;
            margin-right: 0;
        }
    }

    .flow-icon {
        font-size: 3em;
    }

    .inner {
        padding: 30px 0;
    }
}

.flow-delete-modal {
    padding: 20px;

    .flow-delete-buttons {
        margin-top: 10px;
        display: block;
    }
}

.editable-buttons {
    font-size: 14px;
}

.flow-name-control {
    display: inline-block;
    position: absolute;
    top: 20px;
    height: 40px;
    font-size: 18px;
    width: 80%;
}

.search-field-container {
    // Padding is removed from the top on xs devices
    // TODO: Just use a mixin.
    @media (max-width: 768px) {
        margin: -20px 0 15px 0;
    }

    margin: -50px 0 15px 0;
    padding: 20px 0 5px 20px;
    border-bottom: 1px solid #eee;
    background-color: $primary-background-color;

    .btn-search {
        padding: 0 7px 0 7px;
    }

    .search-form {
        padding-left: 0;
    }

    .action-buttons {
        float: right;

        .btn-circle {
            font-size: 20px;
            border-radius: 25px;
            margin-top: -3px;
            margin-right: 2px;
        }
    }
}

.search-field-container.ui-scrollpoint {
    position: fixed;
    margin-top: -50px;
    top: 40px;
    z-index: 3;

    @media (min-width: 768px) {
        width: 768px;
    }

    @media (min-width: 992px) {
        width: 992px;
    }

    @media (min-width: 1200px) {
        width: 1200px;
    }
}

.flow-list {
    background-color: white;
    box-shadow: 0 1px 2px #eee;
}

.flow-list-item {
    // TODO: Specify the prefixess
    display: flex;
    align-items: flex-start;

    ul {
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline-block;
        list-style: none;
    }

    li:before {
      font-size: 1.3em;
      content: '\002022';
      margin: 0 5px 0 0;
    }

    @media (max-width: 370px) { // When it's too small, we'll just collapse the list completely
        .flow-item-sub-info li:before {
            display: none;
        }
    }

    li:first-child:before {
      display: none;
    }

    li:last-child {
      margin-right: 0;
    }

    .flow-item-icon {
        font-size: 3em;
        margin-right: 8px;
        color: black;
    }

    .flow-item-left {
        margin-right: 1em;

        @media (max-width: 492px) {
            margin-right: 0.6em;
        }
    }

    .flow-item-info {
        flex: 1;
    }

    .flow-item-sub-info {
        line-height: 19px;
        color: #767676;
    }

    .flow-social {
        @media (min-width: 492px) {
            float: right;
            font-size: 1.5em;
        }

        @media (max-width: 491px) {
            line-height: 19px;
        }
    }

    .flow-name {
        font-size: 1.2em;
        font-weight: bold;
    }

    .flow-length {
        margin-top: 8px;
    }

    .flow-item-description {
        margin-top: 5px;
        a {
            color: #767676;
        }
    }
}

.move-info-popover {
    text-align: left;
}
