@import 'variables';
@import 'breakpoints';

@mixin screen-xs-flow {
  @media only screen and (max-width: 551px) {
    @content;
  }
}

@mixin screen-xxs-flow {
  @media only screen and (max-width: 378px) {
    @content;
  }
}

.flow-box {
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 20px;
    padding: 20px 20px 0 20px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.flows {
    text-align: left;

    .move-name {
      margin-right: -2px;
      font-weight: bold;
    }

    .move-list {
      padding-left: 10px;
      list-style: none;
    }

    .flow-title {
      margin-bottom: 0;
      position: relative;

      .flow-icon {
        font-size: 4.5em;
        margin-right: 10px;
      }

      .flow-title-name {
        display: inline;
        position: relative;
        top: -12px;
        font-size: 36px;
      }
    }

    .flow-plays {
        text-align: right;
        font-size: 1.5em;
    }

    .avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
        border-radius: 3px;
        font-size: 4em;
    }

    .flow-author-info {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .flow-author {
        padding-top: 3px;
        margin-left: 8px;
        font-weight: bold;
    }

    .flow-date {
        margin-left: 8px;
        color: #555;
    }

    .flow-description {
        padding-bottom: 20px;

        // Make description text box take up the whole space
        .editable, .form-inline, textarea, .editable-controls {
            width: 100%;
        }

        textarea {
            height: 100px;
        }

        .editable-buttons {
            display: block;
            padding-top: 5px;
        }
    }
}
