@import 'breakpoints';

.flow-list {
  background-color: white;
  box-shadow: 0 1px 2px #eee;
}

.flow-list-item {
  display: flex;
  align-items: flex-start;

  ul {
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  li:before {
    font-size: 1.3em;
    content: '\002022';
    margin: 0 5px 0 0;
  }

  @media (max-width: 370px) { // When it's too small, we'll just collapse the list completely
    .flow-item-sub-info li:before {
      display: none;
    }
  }

  li:first-child:before {
    display: none;
  }

  li:last-child {
    margin-right: 0;
  }

  .flow-item-icon {
    font-size: 3em;
    margin-right: 8px;
    color: black;
  }

  .flow-item-left {
    margin-right: 1em;

    @include screen-xs {
      margin-right: 0.6em;
    }
  }

  .flow-item-info {
    flex: 1;
  }

  .flow-item-sub-info {
    line-height: 19px;
    color: #767676;
  }

  .flow-social {
    @include screen-sm-min {
      float: right;
      font-size: 1.5em;
    }

    @include screen-xs {
      line-height: 19px;
    }
  }

  .flow-name {
    font-size: 1.2em;
    font-weight: bold;
  }

  .flow-length {
    margin-top: 8px;
  }

  .flow-item-description {
    margin-top: 5px;
    a {
      color: #767676;
    }
  }
}
