@import 'common-mixins';

.slick-arrow {
    z-index: 1;
}

.flows {
    text-align: left;

    .start-flow {
        font-size: 18px;
    }

    .move-list {
      padding-left: 10px;
      list-style: none;
    }

    .flow-title {
      margin-bottom: 0;
      position: relative;

      .flow-icon {
        font-size: 4.5em;
        margin-right: 10px;
      }

      .flow-title-name {
        display: inline;
        position: absolute; // TODO: This doesn't work with a really long flow title. But, let's fix it when that happens!
        top: 4px;
        font-size: 36px;
      }
    }

    .flow-plays {
        text-align: right;
        font-size: 1.5em;
    }

    .avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
        border-radius: 3px;
        font-size: 4em;
    }

    .flow-author-info {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .flow-author {
        padding-top: 3px;
        margin-left: 8px;
        font-weight: bold;
    }

    .flow-date {
        margin-left: 8px;
        color: #555;
    }

    .flow-box {
        margin-top: 10px;
        margin-bottom: 15px;
        min-height: 20px;
        padding: 20px 20px 0 20px;
        background-color: white;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }

    .flow-description {
        padding-bottom: 20px;

        // Make description text box take up the whole space
        .editable, .form-inline, textarea, .editable-controls {
            width: 100%;
        }

        textarea {
            height: 100px;
        }

        .editable-buttons {
            display: block;
            padding-top: 5px;
        }
    }

    .likes {
        float: right;
        font-size: 1.5em;
        padding-right: 20px;
    }

    .flow-actions {
        padding: 5px 0 8px 0;

        a {
            margin-right: 10px;
        }
    }

    .icon-with-text-remix {
        margin-right: 6px;
    }

    .easy-move {
        color: green;
    }

    .medium-move {
        color: orange;
    }

    .hard-move {
        color: red;
    }

    .move-entry {
        padding-bottom: 5px;
    }

    .move-name {
        margin-right: -2px;
        font-weight: bold;
    }

    .move-difficulty {
        font-size: 1.5em;
    }

    .move-description-link {
        font-size: 0.8em;
    }

    .separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.flow-end {
    .likes {
        font-size: 1.5em;
        display: inline-block;
        margin-right: 10px;
    }
    .social-actions {
        padding: 5px 0 8px 0;

        a {
            margin-right: 10px;
        }
    }
}

.flow-delete-modal {
    padding: 20px;

    .flow-delete-buttons {
        margin-top: 10px;
        display: block;
    }
}

.editable-buttons {
    font-size: 14px;
}

.flow-name-control {
    display: inline-block;
    position: absolute;
    top: 20px;
    height: 40px;
    font-size: 18px;
    width: 80%;
}

.search-field-container {
    margin: -50px 0 15px 0;
    padding: 20px 0 5px 20px;
    border-bottom: 1px solid #eee;
    background-color: $primary-background-color;

    .btn-search {
        padding: 0 7px 0 7px;
    }

    .search-form {
        padding-left: 0;
    }

    .action-buttons {
        float: right;

        .btn-circle {
            font-size: 20px;
            border-radius: 25px;
            margin-top: -3px;
            margin-right: 2px;
        }
    }
}

.search-field-container.ui-scrollpoint {
    position: fixed;
    top: 40px;
    z-index: 3;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}
