.flows {
    text-align: left;

    .start-flow {
        font-size: 18px;
    }

    .move-list {
      padding-left: 10px;
      list-style: none;
    }

    .flow-title {
      margin-bottom: 0;

      .glyphicon {
        font-size: 4.5em;
        margin-right: 10px;
      }

      h1 {
        display: inline;
        position: absolute; // TODO: This doesn't work with a really long flow title. But, let's fix it when that happens!
        top: -8px;
      }
    }

    .flow-plays {
        text-align: right;
        font-size: 1.5em;
    }

    .avatar {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
        border-radius: 3px;
        font-size: 4em;
    }

    .flow-author-info {
        margin-top: 10px;
        font-size: 0.9em;
    }

    .flow-author {
        padding-top: 3px;
        margin-left: 8px;
        font-weight: bold;
    }

    .flow-date {
        margin-left: 8px;
        color: #555;
    }

    .flow-box {
        margin-top: 10px;
        margin-bottom: 15px;
        min-height: 20px;
        padding: 20px 20px 0 20px;
        background-color: white;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }

    .flow-description {
        padding-bottom: 20px;
    }

    .likes {
        float: right;
        font-size: 1.5em;
        padding-right: 20px;
    }

    .flow-actions {
        padding: 5px 0 8px 0;

        a {
            margin-right: 10px;
        }
    }

    .icon-with-text-remix {
        margin-right: 4px;
    }

    .easy-move {
        color: green;
    }

    .medium-move {
        color: orange;
    }

    .hard-move {
        color: red;
    }

    .move-entry {
        padding-bottom: 5px;
    }

    .move-name {
        margin-right: -2px;
        font-weight: bold;
    }

    .move-difficulty {
        font-size: 1.5em;
    }

    .move-description-link {
        font-size: 0.8em;
    }

    .separator {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.flow-end {
    .likes {
        font-size: 1.5em;
        display: inline-block;
        margin-right: 10px;
    }
    .social-actions {
        padding: 5px 0 8px 0;

        a {
            margin-right: 10px;
        }
    }
}

.flow-delete-modal {
    padding: 20px;

    .flow-delete-buttons {
        margin-top: 10px;
        display: block;
    }
}