.flows {
  text-align: left;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #333;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
  background-color: #555;
}

.move-list {
  padding-bottom: 20px;
}

.flow-title {
  margin-bottom: 0;
}