@import 'breakpoints';

.footer-wrapper {
  position: relative;
  min-height: 100%;
}

$footer-sm-height: 30px;
$footer-xs-height: 55px;
$footer-border-height: 4px;

.footer {
  position: absolute;
  width: 100%;

  @include screen-md-min {
    bottom: 0;
    height: $footer-sm-height+$footer-border-height;
  }

  @include screen-sm {
    bottom: -30px;
    height: $footer-xs-height+$footer-border-height;
  }

  background-color: #111;
  border-top: $footer-border-height solid #c12b32;

  .text-muted {
    margin: 5px 0 0 5px;
    color: #fff;
  }

  a:hover {
    color: white;
  }

  .footer-links > a {
    padding: 0 8px 0 9px;
    border-left: 1px solid #ddd;
  }

  .footer-links > a:first-of-type {
    border-left: none;
  }

  .by-line {
    @include screen-md-min {
      text-align: left;
    }
    
    @media (max-width: 440px) {
      font-size: 10px;
      padding-left: 0;
      padding-right: 0;
      margin-left: -5px;
    }
  }
}
