@import 'common-mixins';

.btn-login {
  border: 0;
  @include border-radius(3px);
  color: #fff;
  border-width: 1px;
  border-style: solid;
  margin: 0 0 5px;
  outline: 0;
  padding: 0 0 0 15px;
  text-align: left;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .3) inset;
  width: 100%;
  line-height: 40px;
}

.login-icon {
  margin-right: 15px;
  margin-top: 15px;
}

.login-twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.login-twitter:hover, .login-twitter:active {
  background-color: #3ea1ec;
  color: #fff;
}

.login-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.login-facebook:hover, .login-facebook:active {
  background-color: #344e86;
  color: #fff;
}

.login-google {
  background-color: #df4a32;
  border-color: #df4a32;
}

.login-google:hover, .login-google:active {
  background-color: #d63a21;
  color: #fff;
}

.login-twitter:hover,
.login-twitter:focus,
.login-twitter:active {
  @include standard-ease(0.2s);
  background-color: #3ea1ec;
}

.login-facebook:hover,
.login-facebook:focus,
.login-facebook:active {
  @include standard-ease(0.2s);
  background-color: #344e86;
}