@import 'common-mixins';

$navbar-link-color: #666;

.navbar-inverse .navbar-brand {
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.8em;
  height: auto;
  color: #000;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #000;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #fcb426;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #fcb426;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: inline-block;
  }
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
  color: $navbar-link-color;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  background-color: #333;
}

.navbar-nav > li {
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a {
  color: $navbar-link-color;
}

.navbar-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-top: 3px solid transparent;
  padding-top: 3px;
  padding-bottom: 0;
  margin-top: 7px;
  margin-bottom: 3px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: $navbar-link-color;
  border-top-color: #fcb426;
  -webkit-transition:border-top-color 0.15s ease;
  -moz-transition:border-top-color 0.15s ease;
  -o-transition:border-top-color 0.15s ease;
  transition:border-top-color 0.15s ease;
}

.navbar-inverse .navbar-nav > .active > a {
  color: $navbar-link-color;
  background: transparent;
  border-top-color: #c12b32;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: $navbar-link-color;
  background: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: $navbar-link-color;
}

.nav .avatar {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
}

.navbar {
  background-color: $primary-background-color;
  border-color: transparent;
  border-bottom: 3px solid #fcb426;
  border-radius: 0;
  min-height: 30px;
}

.navbar-nav > li > a {
  padding: 0 4px;
  display: inline-block;
}

.navbar-nav > li:before {
  color: #111;
  font-size: 1.3em;
  content: '\002022';
  margin: 0 5px;
}

.navbar-nav > li:first-child:before {
  display: none;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}
