<section class="flows">
    <h1 class="flow-title"><span class="glyphicon glyphicon-{{vm.flow.imageUrl}}" /> {{vm.flow.name}}</h1>
    <div class="flow-box flow-header">
        <button ng-click="vm.start()" class="btn btn-default">Play Flow</button>
        <div class="flow-author-info">
            <div class="avatar-container" ng-switch on="vm.flow.author.profilePictureUrl || 'null'">
                <span class="avatar glyphicon glyphicon-user" ng-switch-when="null" />
                <a ng-switch-default ng-href="/profile/{{vm.flow.author.username}}"><img class="avatar" ng-src="{{vm.flow.author.profilePictureUrl}}" /></a>
            </div>
            <div class="flow-author">
                <a ng-href="/profile/{{vm.flow.author.username}}" ng-show="vm.flow.author.username">{{vm.flow.author.name}}</a>
                <div ng-hide="vm.flow.author.username">Anonymous</div>
            </div>
            <div class="flow-date">Created {{vm.flow.createdAt | date}}</div>
        </div>
        <div class="flow-plays">{{vm.flow.plays + 1}} plays</div>
        <hr class="soften" />
        <div class="flow-actions">
            <a ng-click='vm.toggleFavorite()'><span class="glyphicon glyphicon-plus" aria-hidden="true" />{{vm.action}}</a>
            <a ng-href="/flow/{{vm.flow.id}}/remix"><span class="glyphicon glyphicon-random" aria-hidden="true" /> Remix</a>
            <share share-partial="/flow/{{vm.flow.id}}"></share>
            <flow-like flow="vm.flow"></flow-like>
        </div>
    </div>

    <div class="flow-box owner-actions" ng-show="vm.canEdit">
        <a ng-href="flow/{{vm.flow.id}}/edit" ng-show="vm.canEdit">Edit Your Flow</a>
        <button ng-click="vm.delete()" class="btn btn-default">Delete Your Flow</button>
    </div>

    <div class="flow-box flow-info">
        {{vm.flow.description}}

        <h3>Moves</h3>
        <ul>
            <li ng-repeat='moveEntry in vm.flow.moves'>
                {{moveEntry.move.name}} - {{moveEntry.duration}} seconds
            </li>
        </ul>
    </div>
    <back-button url="/flows"></back-button>
    <debug class="block">
        <p>{{vm.flow}}</p>
    </debug>
</section>